// Place all the styles related to the Plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$selected-plan-border-color: #55acee;
$background-color: #edf0f5;

body {
  font-family: "Raleway", Arial, sans-serif;
  background-color: $background-color;
  label, .label {
    font-family: "Lato", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
  header {
    color: #ffffff;
    background-color: #393c45;
    margin-bottom: 20px;
    padding: 20px 0px;
  }
  #main {
    margin: 20px 50px;
  }
  footer {
    margin-top: 20px;
  }
}
.plan {
  background-color: white;
  height: 220px;
  text-align: center;
  padding: 20px 20px;
  margin: 20px 0px;
  list-style-type: none;
  font-family: 'Raleway';
  color: #55acee;
  h2.plan-name {
    font-size: 16px;
    margin-bottom: 0px;
  }
  h3.plan-amount {
    font-size: 14px;
    font-weight: 700;
    margin-top: 2px;
  }
}
.plan.selected {
  border: solid 1px $selected-plan-border-color;
}
#current-plan-wrapper {
  border: solid 1px #e5e7eb;
  margin: 10px 0px;
  padding: 40px 20px;
  #current-plan {
    font-family: "Lato", Arial, sans-serif;
    .subscription-cost {
      color: #62cb31;
      font-size: 24px;
      font-weight: 700;
      padding-top: 0px;
      margin-bottom: 24px;
    }
    .subscription-description {
      margin-bottom: 10px;
    }
  }
}
#upgrade-plan-wrapper {
  margin-bottom: 20px;
}


.remodal-overlay {
  .wsite-placeholder {
    color: #a9a9a9;
  }
  ::-webkit-input-placeholder {
    color: #a9a9a9;
  }
  :-ms-input-laceholder {
    color: #a9a9a9;
  }
  ::-moz-placeholder {
    color: #a9a9a9;
  }
  :-moz-placeholder {
    color: #a9a9a9;
  }
  main {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .error {
    width: 100%;
    padding: 10px 0;
  }

  em.error {
    font-style: normal;
    color: red;
    display: inline-block;
    border-radius: 10px;
    margin: 0 auto;
  }

  img[src*='logo'] {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .moose-dialog {
    position: absolute;
    top: -150px;
    left: 50%;
    width: 100%;
    margin-left: -50%;
    z-index: 99999;
  }

  .overlay {
    position: absolute; left: 0; top: 0;
    width: 100%;
    height: 100%;
    background: rgba(#2A92E5, 0.65);
    z-index: 1;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
  }

  .modal {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    max-width: 699px;
    min-width: 320px;
    padding: 25px 0;

    .content {
      background: #fefefe;
      padding: 15px;
    }
  }

  .remodal section {
    display: none;

    &.active {
      display: block;
    }

    h1 {
      font-size: 1.5em;
      color: #696969;
    }
    .logo {
      width: 120px;
    }
  }

  header, footer {
    background-color: transparent;
    color: #333333;
  }
  footer {
    overflow: hidden;
    clear: both;
    margin-top: 50px;
  }

  // Forms & Inputs
  .payment-form {
    text-align: left;
    label {
      display: inherit;
    }
  }

  .action-form {
    label {
      display: none;

      &[for="hide-password"] {
        display: block;
      }
    }
    .group, .multi-group {
      position: relative;
      p.notes {
        font-size: 12px;
        text-align: left;
      }
    }
    textarea {
      text-align: center;
      color: #888888;
      font-size: 20px;
      width: 100%;
      background: none;
      border: 2px solid transparent;
      border-bottom: #ccc solid 2px;
      margin: 0 0 5px;
      padding: 18px 18px 10px;
      outline: none;
    }
    input[type="text"], input[type="password"], select {
      text-align: center;
      color: #888888;
      font-size: 32px;
      width: 100%;
      background: none;
      border: 2px solid transparent;
      border-bottom: #ccc solid 2px;
      margin: 0 0 5px;
      padding: 18px 18px 10px;
      outline: none;

      &.error {
        -webkit-animation-name: shake;
        -webkit-animation-duration: 0.3s;
        -webkit-transform-origin:50% 50%;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: linear;
      }
    }
    .input-wrapper {
      border-bottom: #ccc solid 2px;
      margin: 0 0 5px;
      padding: 18px 18px 10px;
      select {
        width: inherit;
        border: none;
      }
    }
  }
  %button {
    line-height: 18px;
    outline: red;
    color: #ccc;
    background: none;
    border: transparent solid 2px;
    border-radius: 24px;
    padding: 13px 25px;
  }

  .previous {
    @extend %button;
    float: left;
    padding-left: 0;
  }

  .continue {
    @extend %button;
    color: #8dc63f;
    border-color: #8dc63f;
    float: right;
    padding-right: 15px;

    i {
      margin-left: 10px;
    }

    &.disabled {
      color: #ccc;
      border-color: #ccc;
    }
  }

  .input-group {
    width: 100%;
    overflow: hidden;

    input {
      width: 80%;
      float: left;
    }

    .checkbox {
      width: 20%;
      float: right;
    }
  }
}
