// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  font-size: 18px;
}
#new_user{
  background: white;
}

#one-time-pay{
  background-color: white;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

// ABSTRACTS
%ghost-button {
	color: #fefefe;
	text-transform: uppercase;
	border: #fefefe solid 2px;
	border-radius: 8px;
	padding: 0.4rem 1rem;

	&:hover, &:focus {
		text-decoration: none;
	}
}

%default-button {
	position: relative;
	display: block;
  color: #fefefe;
  text-transform: uppercase;
	background: linear-gradient(to bottom, #2A92E5 0%, darken(#2A92E5, 3%) 100%);
	border-top: lighten(#2A92E5, 5%) solid 1px;
	border-bottom: darken(#2A92E5, 5%) solid 2px;
  border-radius: 0.7rem;
	margin: 0 auto;
  padding: 0.5rem 2rem;

	&:hover, &:focus {
		text-decoration: none;
	}

	&:focus {
		top: 1px;
		border-bottom: none;
		border-top: darken(#2A92E5, 7%) solid 1px;
	}
}

// HOMEPAGE
.homepage .pitch, .homepage .overview, .homepage .how-it-works, .homepage .get-started, .homepage header nav, .homepage .how-it-works .wrapper {
	width: 70%;
	max-width: 1024px;
	overflow: hidden;
	margin: 0 auto;
}

// TEMPORARY - remove the paragraph color from xenon.css
.homepage p, .homepage, .homepage ul {
	color: #666;
}

.homepage header[role="banner"] {
	background: asset-url("background.jpg", image) no-repeat;
	background-size: cover;
	height: 630px;

	nav {
		padding: 2rem;
	}

	.logo {
		display: block;
		max-width: 250px;

		img {
			max-width: 100%;
		}
	}

	.login {
		@extend %ghost-button;
		position: relative;
		top: 8px;
		float: right;
	}

	.pitch {
		text-align: center;
		padding-bottom: 0.25rem;

		h1, h2 {
			text-transform: uppercase;
			color: #fefefe;
			text-shadow: #333 0 1px 1px;
		}

		h1 {
			font-size: 4rem;
		}

		h2 {
			line-height: 1.8rem;
			margin-bottom: 4rem;
		}
	}

	.calls-to-action {
		a {
			@extend %default-button;
			max-width: 300px;
		}
	}
}

.homepage section {
	overflow: hidden;
	padding: 2rem 0;
}

.homepage section {
	h1 {
		text-align: center;
		color: #666;
		margin: 0 0 2rem;
	}

	.left-column, .right-column {
		width: 50%;
		float: left;

		div {
			margin: 0 0 2rem;
		}

		p {
			text-align: left;
		}

		.title {
			font-size: 1.3rem;
			font-weight: 800;
		}
	}

	.left-column {
		padding-right: 1rem;
	}

	.right-column {
		padding-left: 1rem;
	}
}

.homepage .how-it-works {
	width: 100%;
	max-width: 100%;
	background: linear-gradient(to bottom, #2a92e5 0%, #1c8be3 100%);
	padding: 3rem 0;


	h1, p {
		color: #fefefe;
	}

	p {
		text-shadow: darken(#2a92e5, 25%) 0 1px 0;
	}

	.title {
		color: darken(#2a92e5, 25%);
		font-weight: 800;
	}

	.block {
		width: 33%;
		float: left;
	}

	.block:first-of-type {
		padding-right: 1rem;
	}

	.block:last-of-type {
		padding-left: 1rem;
	}
}

.homepage .features {
	ul {
		padding: 0;
		margin: 0;
	}
}

.homepage .get-started {
	ul {
		margin: 0 0 1rem;
		padding: 0;
		list-style: none;
	}

	.signup-button {
		@extend %ghost-button;
		text-align: center;
		color: #2a92e5;
		border-color: #2a92e5;
		display: block;
		max-width: 200px;
		margin-top: 2rem;
	}
}

.homepage footer.page-footer {
	text-align: center;
	background: #1a1a1a;
	padding: 2rem 0;

	.title, a, span {
		color: #999;
	}

	.title {
		display: block;
	}

	.social {
		width: 300px;
		margin: 0 auto;

		a {
			display: inline-block;
			text-align: center;
			font-size: 1.4rem;
			color: #fefefe;
			padding: 1rem 0.4rem;
		}
	}

	.copyright {
		display: block;
		font-size: 0.8rem;
	}
}

// RESPONSIVE HOMEPAGE
// ipad
@media all and (max-width: 1024px) {
	.homepage {
		header[role="banner"] {
			nav, .pitch {
				width: 100%;
				max-width: 100%;
			}

			.pitch {
				padding: 0 2rem;
			}
		}

		.overview, .get-started {
			max-width: 80%;
			width: 80%;
		}

		.how-it-works {
			width: 100%;
			max-width: 100%;

			.wrapper {
				width: 100%;
				max-width: 100%;
				margin: 0;
				padding: 0 3rem;
			}
		}
	}
}

// iphone 6
@media all and (max-width: 667px) {
	html {
		font-size: 14px;
	}

	.homepage {
		.pitch, header[role="banner"] nav, .overview, .how-it-works, .get-started {
			width: 100%;
			max-width: 100%;
		}

		.overview, .how-it-works, .get-started {
			padding: 2rem;

			p {
				text-align: center !important;
			}

			.title {
				display: block;
				text-align: center;
			}

			.left-column, .right-column {
				text-align: center;
				width: 100%;
				float: none;
				margin: 0;
				padding: 0;
			}
		}

		header[role="banner"] {
			height: 420px;

			.logo {
				max-width: 180px;
			}

			.calls-to-action a {
				font-size: 1.2rem;
			}
		}

		.how-it-works {
			.wrapper {
				width: 100%;
				max-width: 100%;
				margin: 0;
			}

			.block {
				width: 100%;
				float: none;
				margin: 0 0 3rem;
			}
		}

		.get-started .signup-button {
			margin: 2rem auto;
		}

		h1 {
			font-size: 2.4rem !important;
		}

		h2 {
			font-size: 1.5rem !important;
		}
	}
}

// iphone 5
@media all and (max-width: 375px) {
	html {
		font-size: 14px;
	}

	.homepage {
		.pitch, header[role="banner"] nav, .overview, .how-it-works, .get-started {
			width: 100%;
			max-width: 100%;
		}

		.overview, .how-it-works, .get-started {
			padding: 2rem;

			p {
				text-align: center !important;
			}

			.title {
				display: block;
				text-align: center;
			}

			.left-column, .right-column {
				text-align: center;
				width: 100%;
				float: none;
				margin: 0;
				padding: 0;
			}
		}

		header[role="banner"] {
			height: 380px;

			.logo {
				max-width: 180px;
			}

			.calls-to-action a {
				font-size: 1.2rem;
			}

			nav {
				padding: 1rem;
			}
		}

		.how-it-works {
			.wrapper {
				width: 100%;
				max-width: 100%;
				margin: 0;
			}

			.block {
				width: 100%;
				float: none;
				margin: 0 0 3rem;
			}
		}

		.get-started .signup-button {
			margin: 2rem auto;
		}

		h1 {
			font-size: 2.4rem !important;
		}

		h2 {
			font-size: 1.5rem !important;
		}
	}
}
// Animations
@-webkit-keyframes shake {
  0% { -webkit-transform: translate(2px, 0px); border-bottom-color: #FF271C; }
  50% { -webkit-transform: translate(-1px, 0px); }
  20% { -webkit-transform: translate(-3px, 0px); }
  30% { -webkit-transform: translate(0px, 0px); }
  40% { -webkit-transform: translate(1px, 0px); }
  50% { -webkit-transform: translate(-1px, 0px); }
  60% { -webkit-transform: translate(-3px, 0px); }
  70% { -webkit-transform: translate(2px, 0px); }
  80% { -webkit-transform: translate(-1px, 0px); }
  90% { -webkit-transform: translate(2px, 0px); }
  100% { -webkit-transform: translate(1px, 0px); }
}

// Remodal default overrides
.remodal {
  box-shadow: darken(#1ac3d2, 15%) 0 0 8px !important;
  margin: 0 auto;

  &, .remodal * {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  }

  .remodal-close {
    display: none;
  }
}

.remodal-overlay {
  background: rgba(darken(#1ac3d2, 12%), 0.8) !important;
}

@media all and (max-width: 568px) and (orientation: portrait) {
  input {
    font-size: 2rem !important;
  }

  footer {
    button {
      float: none;
      width: 100%;
      display: block;
    }

    button.previous {
      border: #ccc solid 2px !important;
      margin: 0 0 5px !important;
    }
  }
}
