.remodal-overlay{"style"=>"display: none;"}
  .remodal.action-form{"data-remodal-id"=>"payment-history-modal", "data-remodal-options"=>"hashTracking: false" }
    %section.active
      %header
        %h2
          Payment History for {{}}
