.remodel-overlay{"style"=>"display: none;"}
  .remodal{"data-remodal-id"=>"refund-payment-modal", "data-remodal-options"=>"hashTracking: false" }
    %section.active
      %h2
        Refund Payment?
      %h4
        {{selected_payment.amount}}
