%header.content-title
  %i.linecons-note.header-icon
  .content-title-wrapper
    %h4
      ACCOUNT
    %h6
      Update personal information, your logo, and change your plan.
.container-fluid
  .row
    .col-md-9
      .form-wrapper
        %form{"name"=>"accountForm"}
          .row.form-group
            .col-lg-8
              %label{:for=>"firstName"}
                First Name
              %input#firstName.form-control{:type=>"text",:name=>"user[account_attributes[first_name]]",:placeholder=>"First Name","ng-model"=>"user.account.firstName" }
          .row.form-group
            .col-lg-8
              %label{:for=>"lastName"}
                Last Name
              %input#lastName.form-control{:type=>"text",:name=>"user[account_attributes[last_name]]",:placeholder=>"Last Name","ng-model"=>"user.account.lastName" }
          .row.form-group
            .col-lg-8
              %label{:for=>"companyName"}
                Company Name
              %input#companyName.form-control{:type=>"text",:name=>"user[account_attributes[company_name]]",:placeholder=>"Company Name","ng-model"=>"user.account.companyName" }
          .row.form-group
            .col-lg-8
              %label{:for=>"email"}
                Email Address
              %input#email.form-control{:type=>"text",:name=>"user[email]",:placeholder=>"Email Address","ng-model"=>"user.email" }
          .row.form-group
            .col-lg-8
              %label{:for=>"subdomain"}
                Subdomain
              %input#subdomain.form-control{:type=>"text",:name=>"user[account_attributes[subdomain]]",:placeholder=>"Subdomain","ng-model"=>"user.account.subdomain" }
          .row.form-group
            .col-lg-8
              %label{:for=>"logo", "style"=>"display: block;"}
                Logo
              %img{"ng-src"=>"{{user.account.logo.url}}", "ng-alt"=>"{{user.account.companyName}}","ng-show"=>"user.account.logo.url.length > 0", "style"=>"margin: 20px 0px;"}
              %button.btn.btn-primary{"ng-click"=>"upload_logo_clicked()", "type"=>"button"}
                Upload Logo
          .row
            .col-lg-4
              %button.btn.btn-primary{:type=>"submit", "ng-click"=>"updateAccount(user, accountForm)"}
                Submit
        .edit-bar
          .edit-controls
            %ul.list-inline.pull-right{:style=>"list-style-type: none;"}
              %li{"style"=>"margin-right: 28px"}
                %a{:title=>"Plan Menu", "popover-placement"=>"bottom", "popover-template"=>"'dashboard/ng-app/templates/submenus/account.html'"}
                  %i.fa.fa-cog{"ng-click"=>"openMenu()"}
          .edit-form-wrapper{:style=>"padding: 0px 20px 60px 20px"}
            %h4
              Account Details
            %h6
              Member Since: 7/13/2014
            #current-plan-wrapper
              #current-plan
                .subscription-cost.text-center
                  {{ user.account.subscriptions[0].plan.amount | currency:undefined:0 }}/{{ user.account.subscriptions[0].plan.billingCycle }}
                .subscription-description
                  You are currently subscribed to the {{ user.account.subscriptions[0].plan.name }}
                %ul.subscription-details
                  %li{"ng-show"=>"user.account.subscriptions[0].plan.feature1"}
                    {{ user.account.subscriptions[0].plan.feature1 }}
                  %li{"ng-show"=>"user.account.subscriptions[0].plan.feature2"}
                    {{ user.account.subscriptions[0].plan.feature2 }}
                  %li{"ng-show"=>"user.account.subscriptions[0].plan.feature3"}
                    {{ user.account.subscriptions[0].plan.feature3 }}
                  %li{"ng-show"=>"user.account.subscriptions[0].plan.feature4"}
                    {{ user.account.subscriptions[0].plan.feature4 }}
            #upgrade-plan-wrapper{{"ng-show"=>"!user.account.hasUpgradedPlan"}}
              %button.btn.btn-primary{:type=>"button", "ng-click"=>"upgrade_plan_clicked()"}
                Upgrade Plan
            %p.label
              Next Billing Date:
            %p.data
              9/14/2015
            %p.label
              Billing History:
%div{"loading-screen" => "loading.show_spinner"}
%div{"ng-include"=>"'dashboard/ng-app/templates/launchlist/upload_logo.html'"}
%div{"ng-include"=>"'dashboard/ng-app/templates/account/add_credit_card.html'"}
%div{"ng-include"=>"'dashboard/ng-app/templates/account/update_credit_card.html'"}
%div{"ng-include"=>"'dashboard/ng-app/templates/account/delete_credit_card.html'"}
%div{"ng-include"=>"'dashboard/ng-app/templates/account/upgrade_plan.html'"}
%div{"ng-include"=>"'dashboard/ng-app/templates/account/change_password.html'"}
