%header.content-title
  %i.linecons-note.header-icon
  .content-title-wrapper
    %h4
      CHANGE YOUR PASSWORD
    %h6
      Update personal information, your logo, and change your plan.
.container-fluid
  .row
    .col-md-9
      .form-wrapper
        %form{"name"=>"accountForm"}
          .row.form-group
            .col-lg-8
              %label{:for=>"currentPassword"}
                Current Password
              %input#currentPassword.form-control{:type=>"text",:name=>"old_password",:placeholder=>"Type your Current Password","ng-model"=>"current_password" }
          .row.form-group
            .col-lg-8
              %label{:for=>"newPassword"}
                New Password
              %input#newPassword.form-control{:type=>"text",:name=>"new_password",:placeholder=>"Type your New Password","ng-model"=>"new_password" }
          .row.form-group
            .col-lg-8
              %label{:for=>"newPasswordAgain"}
                New Passord Again
              %input#newPasswordAgain.form-control{:type=>"text",:name=>"new_password_again",:placeholder=>"Type your New Password Again","ng-model"=>"new_password_again" }
          .row
            .col-lg-4
              %button.btn.btn-primary{:type=>"submit", "ng-click"=>"updateAccount(user, accountForm)"}
                Submit
%div{"ng-include"=>"'dashboard/ng-app/templates/launchlist/upload_logo.html'"}
