%header.content-title
  %i.linecons-note.header-icon
  .content-title-wrapper
    %h4
      Change Password
    %h6
      Update personal information, your logo, and change your plan.
.container-fluid
  .row
    .col-md-9
      .form-wrapper
        %form{"name"=>"changePasswordForm"}
          .row.form-group
            .col-lg-8
              %label{:for=>"currentPassword"}
                Current Password
              %input#currentPassword.form-control{:type=>"password",:name=>"current_password",:placeholder=>"Current Password","ng-model"=>"change_password.current_password" }
          .row.form-group
            .col-lg-8
              %label{:for=>"newPassword"}
                New Password
              %input#newPassword.form-control{:type=>"password",:name=>"new_password",:placeholder=>"New Password","ng-model"=>"change_password.new_password" }
          .row.form-group
            .col-lg-8
              %label{:for=>"newPasswordAgain"}
                New Password Again
              %input#newPasswordAgain.form-control{:type=>"password",:name=>"new_password_again",:placeholder=>"New Password (Again)","ng-model"=>"change_password.new_password_again" }
          .row
            .col-lg-4
              %button.btn.btn-primary{:type=>"submit", "ng-click"=>"changePasswordSubmit(changePasswordForm)"}
                Submit
