.success-message.animate-show.alert.alert-success{"role"=>"alert", "ng-show"=>"show_success_message"}
  %a.close{"ng-click"=>"close_success_message()", "aria-label"=>"close"}
    &times;
  {{success_message}}
.error-message.animate-show.alert.alert-danger{"role"=>"alert", "ng-show"=>"show_error_message"}
  %a.close{"ng-click"=>"close_error_message()", "aria-label"=>"close"}
    &times;
  {{error_message}}
%nav.navbar.navbar-fixed-top{:role => "navigation"}
  #brand-header
    #navbar-header
      .navbar-brand-wrapper
        %a.navbar-brand{:style=>"padding: 5px;"}
          %img{"ng-src"=>"{{user.account.bull.logo.url}}", :style=>"height: 40px; margin: auto;"}
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
  #navbar-menu{"ng-show"=>"isAuthorized('bull')"}
    .navbar-collapse.collapse
      .minifyme
        %a{:href=>"#"}
          .fa.fa-bars
  #nav-bar-right
    %ul.nav.navbar-nav.navbar-right
      %li
        %a{:href=>"#"}
          .fa.fa-bell-o
      %li
        %a{:href=>"#"}
          .fa.fa-envelope.o
      %li{"ng-show"=>"isAuthorized('bull')"}
        %a.visit-site{:href => "{{user.account.siteUrl}}", :target => "_blank"}
          .fa.fa-external-link-square
      %li.dropdown.profile.hidden-xs
        %a{:title=>"Account Menu", "popover-placement"=>"bottom", "popover-template"=>"'dashboard/ng-app/templates/submenus/account-menu.html'"}
          %i.fa.fa-chevron-down{"ng-click"=>"openMenu()"}
          {{user.account.firstName}} {{user.account.lastName}}
#content-wrapper
  .row-offcanvas.row-offcanvas-left
    %aside#left-panel.sidebar-offcanvas{"role" => "navigation", "ng-show"=>"isAuthorized('bull')"}
      #profile-block.text-center
        %img.logo{"ng-src"=>"{{user.account.logo.url}}", "alt"=>"user.account.companyName","ng-show"=>"user.account.logo.url.length > 0"}
        %h4.user-name
          {{ user.account.firstName }} {{ user.account.lastName }}
        %h5.company-name
          {{ user.account.companyName }}
        %h6.mm-stats
          {{ user.account.memberCount}}<br />
          Your Moose Pack
      %nav.nav-sidebar
        %ul
          %li{"ng-hide"=>"hideLaunchList()", "ng-class"=>"{ 'selected': setMenuItemSelected('/dashboard/launch'), 'top-nav-item': !hideLaunchList()}"}
            %a{"href"=>"/dashboard/launch"}
              %i.linecons-paper-plane
              %span.menu-item-parent
                LAUNCH LIST
          %li{"ng-class"=>"{'selected': setMenuItemSelected('/dashboard/plans'), 'top-nav-item': hideLaunchList()}"}
            %a{"href"=>"/dashboard/plans"}
              %i.linecons-heart
              %span.menu-item-parent
                PLANS
          %li{"ng-class"=>"{'selected': setMenuItemSelected('/dashboard/members') }"}
            %a{"href"=>"/dashboard/members"}
              %i.linecons-user
              %span.menu-item-parent
                MEMBERS
          %li{"ng-class"=>"{'selected': setMenuItemSelected('/dashboard/subscriptions') }"}
            %a{"href"=>"/dashboard/subscriptions"}
              %i.linecons-star
              %span.menu-item-parent
                SUBSCRIPTIONS
          %li{"ng-class"=>"{'selected': setMenuItemSelected('/dashboard/payments') }"}
            %a{"href"=>"/dashboard/payments"}
              %i.linecons-money
              %span.menu-item-parent
                PAYMENTS
    #content{"role"=>"main"}
      %ui-view#main{:style=>"min-height: 655px;"}
