.fill{:style => "min-height: 553px;"}
  #page-launch
    .ready.notready
      .owl-checklist
        .owl-checklist-mark.first.ng-hide{"ng-show" => "project.steps.step1"}
        .owl-checklist-mark.second.ng-hide{"ng-show" => "project.steps.step2"}
        .owl-checklist-mark.third.ng-hide{"ng-show" => "project.steps.step3"}
      %h3
        %span
          %strong Welcome!
          Let's get ready to launch.
      %span.skip
        %strong> You're on our free account:  
        Get up to 10 subscribers per plan
        .middot>
        Test out all features for free
      %a.skip-link{"ui-sref"=>"dashboard.launch_list.upgrade_plan", "ng-hide"=>"project.steps.step4"}
        %span Upgrade my account now!
        .fa.fa-chevron-circle-right.fa-left
    .padder
      .row
        .col-sm-12.col-lg-6
          .checklist{"ng-class" => "{done: project.steps.step1}"}
            .check.check-off.fa.fa-pencil
            .check.check-on.fa.fa-check
            %h3.ng-binding
              %span> 1.
              Customize Your Site
            %p
              %a.ng-binding{"ui-sref"=>"dashboard.launch_list.upload_logo"}
                Upload a logo
                %span.fa.fa-chevron-right.fa-left
            %p
              %a.ng-binding{"ui-sref"=>"dashboard.launch_list.setup_subdomain"}
                Setup your subdomain
                %span.fa.fa-chevron-right.fa-left
          %hr/
          .checklist{"ng-class" => "{done: project.steps.step2}"}
            .check.check-off.fa.fa-heart
            .check.check-on.fa.fa-check
            %h3.ng-binding
              %span> 2.
              Create your first plan
            %p
              %a{"ui-sref"=>"dashboard.launch_list.create_plan"}
                %span Create your first plan
                %span.fa.fa-chevron-right.fa-left
          %hr/
          .checklist{"ng-class" => "{done: project.steps.step3}"}
            .check.check-off.fa.fa-bank
            .check.check-on.fa.fa-check
            %h3
              %span> 3.
              Setup a payment processor
            %p
              %a{"ui-sref"=>"dashboard.launch_list.connect_stripe"}
                %span
                  Connect your Stripe Account
                %span.fa.fa-chevron-right.fa-left
          %hr/
          .checklist{"ng-class" => "{done: project.steps.step4}"}
            .check.check-off.fa.fa-rocket
            .check.check-on.fa.fa-check
            %h3
              %span> 4.
              Upgrade your Plan
            %p
              %a{"ui-sref"=>"dashboard.launch_list.upgrade_plan"}
                %span
                  Upgrade to Awesome-ness
                %span.fa.fa-chevron-right.fa-left
        .col-sm-12.col-lg-6
          .browser-lg
            %a.browser-render.theme-line{:href => "{{user.account.siteUrl}}", :target => "_blank"}
              / ngIf: project.appearance.theme == 'line'
              .window{"ng-if" => "project.appearance.theme == 'line'"}
                .el-header
                  .el-logo{:style => "background-color:#1e1c1c"}
                  .el-headline
                  .el-paragraph
                  .el-paragraph.p2
                  .el-paragraph.p3
                  .el-button{:style => "background-color:#1e1c1c"}
                .el-divider{:style => "background-color:#1e1c1c"}
              .visit
                .zoom
                  .fa.fa-external-link-square>
                  Visit Your Site
            %a.visit-site{:href => "{{user.account.siteUrl}}", :target => "_blank"}
              .fa.fa-external-link-square
              %strong Visit Your Site
%div{"loading-screen" => "loading.show_spinner"}
%main.remodal-bg
  .remodal{"data-remodal-id" => "modal"}
    .moose-dialog
      .fa.fa-heater
    .remodal-overlay
      %ui-view#modal
