%header.content-title
  %i.linecons-user.header-icon
  .content-title-wrapper
    %h4
      MEMBERS
    %h6
      All of the people who love what you do.
  .search-toggle{"ng-click"=>"toggle_search()"}
    .fa.fa-search.search-icon
%div.search-panel{"ng-show"=>"display_search"}
  .search-panel-wrapper
    %form{"name"=>"searchForm"}
      .container-fluid
        .row
          .row-height
            .col-md-3.col-height
              .inside
                %label
                  Member Email
                .form-group
                  %input.form-control{"type"=>"text", "placeholder"=>"Email Address", "ng-model"=>"search.email_address", "ng-change"=>"getSearchCount()", "ng-model-options"=>"{ debounce: { 'default': 1000, 'blur': 0 } }"}
            .col-md-3.col-height
              .inside
                %label
                  Member Name
                .form-group
                  %input.form-control{"type"=>"text", "placeholder"=>"First Name", "ng-model"=>"search.first_name", "ng-change"=>"getSearchCount()", "ng-model-options"=>"{ debounce: { 'default': 1000, 'blur': 0 } }"}
                .form-group
                  %input.form-control{"type"=>"text", "placeholder"=>"Last Name", "ng-model"=>"search.last_name", "ng-change"=>"getSearchCount()", "ng-model-options"=>"{ debounce: { 'default': 1000, 'blur': 0 } }"}
            .col-md-3.col-height
              .inside
                %label
                  Plan
                .form-group
                  %select#search-plan.form-control.input{:name=>"search[plan]","ng-model"=>"search.plan_id", "ng-change"=>"getSearchCount()", "ng-model-options"=>"{ debounce: { 'default': 1000, 'blur': 0 } }"}
                    %option{"value"=>"", "selected"=>""}
                      All Plans
                    %option{"ng-repeat"=>"plan in plans", "value"=>"{{plan.id}}"}
                      {{plan.name}}
                %label
                  Member Status
                .form-group
                  %select#search-status.form-control.input{:name=>"search[status]","ng-model"=>"search.status", "ng-change"=>"getSearchCount()", "ng-model-options"=>"{ debounce: { 'default': 1000, 'blur': 0 } }"}
                    %option{"value"=>"", "selected"=>""}
                      All Statuses
                    %option{"ng-repeat"=>"status in statuses", "value"=>"{{status.value}}"}
                      {{status.text}}
            .col-md-3.col-height
              .inside-centered
                %label
                  Matching Results
                .results-count
                  {{searchItems}}
                %button.btn.btn-primary.btn-lg{"ng-click"=>"search()"}
                  Apply Search
%table.table{"ng-table"=>"", "ng-hide"=>"members.length == 0"}
  %tr{"ng-repeat"=>"member in members"}
    %td.select-item
      %input{:type=>"checkbox", "ng-click"=>"selectMember($event, member)", "ng-checked"=>"selected_member == member"}
    %td{"data-title"=>"'First Name'"}
      {{member.firstName}}
    %td{"data-title"=>"'Last Name'"}
      {{member.lastName}}
    %td{"data-title"=>"'Email'"}
      {{member.user.email}}
    %td{"data-title"=>"'Member Since'"}
      December 12, 2012
    %td{"data-title"=>"'Plans'"}
      {{member.planNames}}
    %td{"data-title"=>"'Status'"}
      {{member.status}}
%pagination{"total-items"=>"totalItems","ng-model"=>"currentPage","ng-change"=>"pageChanged()", "ng-show"=>"totalItems > 0 && !isLoading"}
.no-results{"ng-show"=>"members.length == 0 && !isLoading"}
  %img{:alt => "Cards we support (visa, mastercard, discover, amex)", :src => asset_path('dead-moose.png')}/
  %p
    You don't have any members yet!
.edit-bar.animate-show{"ng-show"=>"edit_panel_open"}
  .edit-controls
    %ul.list-inline.pull-right{:style=>"list-style-type: none;"}
      %li
        %a{:title=>"Plan Menu", "popover-placement"=>"bottom", "popover-template"=>"'dashboard/ng-app/templates/submenus/members.html'"}
          %i.fa.fa-cog{"ng-click"=>"openMenu()"}
      %li
        %a{:title=>"Close"}
          %i.fa.fa-times{"ng-click"=>"closeEditBar()" }
  .edit-form-wrapper{:style=>"padding: 0px 20px 60px 20px"}
    %h4
      Member Details
    %h6
      {{selected_member.firstName}} {{selected_member.lastName}} ({{selected_member.guid}})
    %form{"name"=>"memberForm","ng-submit"=>"updatePlan(plan)"}
      .form-group
        %label{:for=>"firstName"}
          First Name
        %input#firstName.form-control.input{:type=>"text",:name=>"selected_member[first_name]",:placeholder=>"First Name","ng-model"=>"selected_member.firstName"}
      .form-group
        %label{:for=>"lastName"}
          Last Name
        %input#lastName.form-control.input{:type=>"text",:name=>"selected_member[last_name]",:placeholder=>"Last Name","ng-model"=>"selected_member.lastName"}
      .form-group
        %label{:for=>"emailAddress"}
          Email Address
        %input#emailAddress.form-control.input{:type=>"text",:name=>"selected_member[user[email]]",:placeholder=>"Email Address","ng-model"=>"selected_member.user.email"}
      %button.btn.btn-primary{:type=>"submit",  "ng-click"=>"updateMember(selected_member, memberForm)"}
        Update Member
    %div{:style=>"margin-top: 10px;"}
      %p.label
        Plans
      %p.data
        {{selected_member.planNames}}
      %p.label
        Billing History:
      %p.data
        %table.table
          %tr{"ng-repeat"=>"payment in selected_member.billingHistory"}
            %td
              {{payment.createdAt | date :'shortDate'}}
            %td
              {{payment.amount | currency}}
            %td
              {{payment.status}}
      %p.label
        Next Billing Date:
      %p.data
        September 14, 2015
%div{"loading-screen" => "isLoading"}
%div{"ng-include"=>"'dashboard/ng-app/templates/members/billing_history.html'"}
%div{"ng-include"=>"'dashboard/ng-app/templates/members/next_invoice.html'"}
