%header.content-title
  %i.linecons-heart.header-icon
  .content-title-wrapper
    %h4
      My Subscriptions
    %h6
      Here are the plans you've signed up for.
.container-fluid.plans{"style"=>"min-height: 400px;"}
  .row{:style=>"margin-bottom: 20px;"}
    .col-md-4{"ng-repeat"=>"subscription in user.account.subscriptions"}
      .plan
        .plan-info
          %h2.plan-name
            {{subscription.plan.name}}
          %h3.plan-amount
            {{subscription.plan.amount | currency }}
        %div{"ng-hide"=>"subscription.status == 'Cancelled'"}
          %button.btn.btn-lg.btn-primary{"ng-click"=>"cancelSubscriptionClicked(subscription)"}
            Unsubscribe
          %button.btn.btn-lg.btn-primary{"ng-click"=>"changeSubscriptionClicked(subscription)"}
            Change Plan
        %div{"ng-show"=>"subscription.status == 'Cancelled'"}
          %h2
            Cancelled

%div{"loading-screen" => "loading.show_spinner"}
%div{"ng-include"=>"'dashboard/ng-app/templates/my_subscriptions/unsubscribe.html'"}
%div{"ng-include"=>"'dashboard/ng-app/templates/my_subscriptions/change_plan.html'"}
