%header.content-title
  %i.linecons-money.header-icon
  .content-title-wrapper
    %h4
      PAYMENTS
    %h6
      Money In. Money Out
  .search-toggle{"ng-click"=>"toggle_search()"}
    .fa.fa-search.search-icon
%div.search-panel{"ng-show"=>"display_search"}
  .search-panel-wrapper
    %form{"name"=>"searchForm"}
      .container-fluid
        .row
          .row-height
            .col-md-3.col-height
              .inside
                %label
                  Date Range
                %p.input-group
                  %input.form-control{"type"=>"date", "uib-datepicker-popup"=>"", "ng-model"=>"search.from_date"}/
                  %span.input-group-btn
                    %button.btn.btn-default{"type"=>"button", "ng-click"=>"open($event)"}
                      %i.glyphicon.glyphicon-calendar
                %p.input-group
                  %input.form-control{"type"=>"date", "uib-datepicker-popup"=>"", "ng-model"=>"search.to_date"}/
                  %span.input-group-btn
                    %button.btn.btn-default{"type"=>"button", "ng-click"=>"open($event)"}
                      %i.glyphicon.glyphicon-calendar
            .col-md-3.col-height
              .inside
                %label
                  Payee Name
                .form-group
                  %input.form-control{"type"=>"text", "placeholder"=>"First Name", "ng-change"=>"getSearchCount()", "ng-model"=>"search.first_name", "ng-model-options"=>"{ debounce: { 'default': 1000, 'blur': 0 } }"}
                .form-group
                  %input.form-control{"type"=>"text", "placeholder"=>"Last Name", "ng-change"=>"getSearchCount()", "ng-model"=>"search.last_name", "ng-model-options"=>"{ debounce: { 'default': 1000, 'blur': 0 } }"}
            .col-md-3.col-height
              .inside
                %label
                  Payment Amount
                .form-group
                  %rzslider{"rz-slider-ceil" => "price_slider.ceil", "rz-slider-floor" => "price_slider.floor", "rz-slider-high" => "price_slider.max", "rz-slider-model" => "price_slider.min", "rz-slider-hide-limit-labels"=>"true"}
            .col-md-3.col-height
              .inside-centered
                %label
                  Matching results
                .results-count
                  {{searchItems}}
                %button.btn.btn-primary.btn-lg{"ng-click"=>"search()"}
                  Apply Search
%table.table{"ng-table"=>"", "ng-hide"=>"payments.length == 0"}
  %tr{"ng-repeat"=>"payment in payments"}
    %td.select-item
      %input{:type=>"checkbox", "ng-click"=>"selectPayment($event, payment)", "ng-checked"=>"selected_payment == payment"}
    %td{"data-title"=>"'Transaction Date'"}
      {{payment.createdAt | date:'medium'}}
    %td{"data-title"=>"'Payee Name/Subscriber Name'"}
      {{payment.payee.fullName}}
    %td{"data-title"=>"'Amount'"}
      {{payment.amount | currency}}
    %td{"data-title"=>"'Fees'"}
      {{payment.fees | currency}}
    %td{"data-title"=>"'Net Amount'"}
      {{payment.netAmount | currency}}
    %td{"data-title"=>"'Payment Processor'"}
      {{payment.accountPaymentProcessor.paymentProcessor.name}}
    %td.payment-method{"data-title"=>"'Payment Method'"}
      {{payment.paymentMethod}}<br />
      {{payment.card.brand}} ending in {{payment.card.last4}}
    %td{"data-title"=>"'Status'"}
      {{payment.status}}
%pagination{"total-items"=>"totalItems","ng-model"=>"currentPage","ng-change"=>"pageChanged()", "ng-show"=>"totalItems > 0 && !isLoading"}
.no-results{"ng-show"=>"payments.length == 0  && !isLoading"}
  %img{:alt => "You have no subscribers", :src => asset_path('dead-moose.png')}/
  %p
    You have not received any payments yet!
.edit-bar{"ng-show"=>"showEditBar()"}
  .edit-controls
    %ul.list-inline.pull-right{:style=>"list-style-type: none;"}
      %li
        %a{:title=>"Plan Menu", "popover-placement"=>"bottom", "popover-template"=>"'dashboard/ng-app/templates/submenus/payments.html'"}
          %i.fa.fa-cog{"ng-click"=>"openMenu()"}
      %li
        %a{:title=>"Close"}
          %i.fa.fa-times{"ng-click"=>"closeEditBar()" }
  .edit-form-wrapper{:style=>"padding: 0px 20px 60px 20px"}
    %h4
      Transaction Details
    %h6
      {{selected_payment.guid}}
    %p.label
      Transaction Date/Time
    %p.data
      {{selected_payment.createdAt | date:'medium'}}
    %p.label
      Payee Name:
    %p.data
      {{selected_payment.payee.fullName}}
    %p.label
      Payment Type
    %p.data
      {{selected_payment.paymentType}}
    %p.label
      Subscription/Plan:
    %p.data
      Lone Wolf
    %p.label
      Amount
    %p.data
      {{selected_payment.amount | currency}}
    %p.label
      Fees
    %p.data
      {{selected_payment.fees | currency}}
    %p.label
      Net Amount
    %p.data
      {{selected_payment.netAmount | currency}}
    %p.label
      Payment Processor
    %p.data
      {{selected_payment.accountPaymentProcessor.paymentProcessor.name}}
    %p.label
      Payment Method
    %p.data
      {{selected_payment.paymentMethod}}<br />
      {{selected_payment.card.brand}} ending in {{selected_payment.card.last4}}
    %p.label
      Payment Status
    %p.data
      {{selected_payment.status}}
    %p.label
      Comment
    %p.data
      {{selected_payment.comments}}
%div{"ng-include"=>"'dashboard/ng-app/templates/payments/refund_payment.html'"}
