%header.content-title
  %h4
    PAYMENTS
  %h6
    Money In. Money Out
%table.table{"ng-table"=>"", "ng-hide"=>"payments.length == 0"}
  %tr{"ng-repeat"=>"payment in payments"}
    %td.select-item
      %input{:type=>"checkbox", "ng-click"=>"selectPayment($event, payment)"}
    %td{"data-title"=>"'Transaction Date'"}
      Jul 15, 2013 7:45:01 AM
    %td{"data-title"=>"'Payee Name/Subscriber Name'"}
      Larkin Garbee
    %td{"data-title"=>"'Amount'"}
      $100.00
    %td{"data-title"=>"'Fees'"}
      $1.35
    %td{"data-title"=>"'Net Amount'"}
      $98.65
    %td{"data-title"=>"'Payment Processor'"}
      Stripe
    %td{"data-title"=>"'Payment Method'"}
      Credit Card<br />
      Visa 1110
    %td{"data-title"=>"'Status'"}
      Active
.no-results{"ng-show"=>"payments.length == 0"}
  %img{:alt => "You have no subscribers", :src => asset_path('dead-moose.png')}/
  %p
    You have not received any payments yet!
.edit-bar{"ng-show"=>"showEditBar()"}
  .edit-controls
    %ul.list-inline.pull-right{:style=>"list-style-type: none;"}
      %li
        %a{:title=>"Plan Menu", "popover-placement"=>"bottom", "popover-template"=>"'dashboard/ng-app/templates/submenus/payments.html'"}
          %i.fa.fa-cog{"ng-click"=>"openMenu()"}
      %li
        %a{:title=>"Close"}
          %i.fa.fa-times{"ng-click"=>"closeEditBar()" }
  .edit-form-wrapper{:style=>"padding: 0px 20px 60px 20px"}
    %h4
      Subscription Details
    %h6
      Member Since: 7/13/2014
    %p.label
      Subscriber Name:
    %p.data
      James Rhodes
    %p.label
      Subscriber Email:
    %p.data
      james@somehero.com
    %p.label
      Plan Name:
    %p.data
      Lone Wolf
    %p.label
      Subscription Start Date
    %p.data
      August 14, 2014
    %p.label
      Subscription End Date
    %p.data
      --
    %p.label
      Billing History
    %p.data
    %p.label
      Next Billing Date
    %p.data
      September 14, 2015
    %p.label
      Subscription status
    %p.data
      Active
