%header.content-title
  %h4
    PLANS
  %h6
    Your recurring subsciption plans your members subscribe to.
%div{:style=>"margin: 40px 0px;"}
  .container-fluid
    .row{:style=>"margin-bottom: 20px;"}
      .col-md-3
        .plan.thumbnail{"ng-click"=>"createPlan()", :style=>"position: relative;"}
          .plan-image
            .overlay
              .view-project{:style=>"height: 100px; line-height: 100px; margin-top: 10px;"}
                %a{"ng-href"=>"/plans/{{plan.id}}"}
                  %i.fa.fa-plus{:style=>"font-size: 72px; line-height: 100px;"}
          .plan-info
            %h2.plan-name{:style=>"margin-top: 0px;"}
              Create Plan
      .col-md-3{"ng-repeat"=>"plan in plans_first_row"}
        .plan.thumbnail{"ng-click"=>"editPlan(plan)", "ng-class"=>"setSelectedPlan(plan)"}
          .plan-image{:style=>"height:70px;"}
            .overlay
              %div.view-project
                %a{"ng-href"=>"/plans/{{plan.id}}"}
          .plan-info
            %h2.plan-name
              {{plan.name}}
            %h3.plan-amount
              {{plan.amount | currency }}
    .row{"ng-repeat"=>"row in rows", :style=>"margin-bottom: 20px;"}
      .col-md-3{"ng-repeat"=>"plan in row"}
        .plan.thumbnail{"ng-click"=>"editPlan(plan)", "ng-class"=>"setSelectedPlan(plan)"}
          .plan-image{:style=>"height:70px;"}
            .overlay
              %div.view-project
                %a{"ng-href"=>"/plans/{{plan.id}}"}
          .plan-info
            %h2.plan-name
              {{plan.name}}
            %h3.plan-amount
              {{plan.amount | currency }}
.edit-bar.animate-show{"ng-show"=>"edit_panel_open"}
  .edit-controls
    %ul.list-inline.pull-right{:style=>"list-style-type: none;"}
      %li
        %a{:title=>"Plan Menu", "popover-placement"=>"bottom", "popover-template"=>"'dashboard/ng-app/templates/submenus/plans.html'"}
          %i.fa.fa-cog
      %li
        %a{:title=>"Close"}
          %i.fa.fa-times{"ng-click"=>"closeEditBar()" }
  .edit-form-wrapper{:style=>"padding: 0px 20px 60px 20px"}
    %h4
      Plan Details
    %h6
      {{plan.name}} ({{plan.guid}})
    %form{"name"=>"plansForm", "novalidate"=>""}
      .form-group
        %label{:for=>"planName"}
          Plan Name
        %input#planName.form-control.input{:type=>"text",:name=>"plan[name]",:placeholder=>"Plan Name","ng-model"=>"plan.name", "required"=>""}
        %span{"ng-show" => "plansForm['plan[name]'].$dirty && plansForm['plan[name]'].$invalid", :style => "color:red"}
          %span{"ng-show" => "plansForm['plan[name]'].$error.required"}
            Plan name is required.
      .form-group
        %label{:for=>"planDescription"}
          Plan Description
        %textarea#planDescription.form-control.input{:rows=>"5",:name=>"plan[description]",:placeholder=>"Description","ng-model"=>"plan.description", "required"=>""}
        %span{"ng-show" => "plansForm['plan[description]'].$dirty && plansForm['plan[description]'].$invalid", :style => "color:red"}
          %span{"ng-show" => "plansForm['plan[description]'].$error.required"}
            Plan description is required.
      .form-group
        %label{:for=>"planAmount"}
          Amount
        %input#planAmount.form-control.input{:type=>"text",:name=>"plan[amount]",:placeholder=>"Amount","ng-model"=>"plan.amount", "required"=>""}
        %span{"ng-show" => "plansForm['plan[amount]'].$invalid", :style => "color:red"}
          %span{"ng-show" => "plansForm['plan[amount]'].$error.required"}
            Amount is required.  If this is a free plan, you must enter $0.
      .form-group
        %label{:for=>"planBillingCycle"}
          Billing Cycle
        %select.form-control{"ng-model"=>"plan.billingCycle", "ng-options"=>"billing_cycle for billing_cycle in billing_cycles"}
        %span{"ng-show" => "plansForm['plan[billing_cycle]'].$dirty && plansForm['plan[billing_cycle]'].$invalid", :style => "color:red"}
          %span{"ng-show" => "plansForm['plan[billing_cycle]'].$error.required"}
            Billing Cycle is required.
      .form-group
        %label{:for=>"planBillingInterval"}
          Billing Interval
        %input#planBillingInterval.form-control.input{:type=>"text",:name=>"plan[billing_interval]",:placeholder=>"Billing Interval","ng-model"=>"plan.billingInterval", "required"=>""}
      .form-group
        %label{:for=>"planFreeTrialPeriod"}
          Free Trial Period
        %input#planFreeTrialPeriod.form-control.input{:type=>"text",:name=>"plan[trial_period_days]",:placeholder=>"Free Trial Period","ng-model"=>"plan.trialPeriodDays", "required"=>""}
      .form-group
        %label{:for=>"planTermsAndConditions"}
          Terms and Conditions
        %textarea#planTermsAndConditions.form-control{:rows=>"8", :name=>"plan[terms_and_conditions]",:placeholder=>"Terms and Conditions","ng-model"=>"plan.termsAndConditions"}
      .form-group
        %label{:for=>"public"}
          Show on Web Page
        %div
          %switch#public.green{"name"=>"public", "ng-model"=>"plan.public", "ng-model-options"=>"{updateOn: 'submit'}"}}
      %button.btn.btn-primary{:type=>"submit", "ng-click"=>"updatePlan(plan, plansForm)"}
        Submit
