%header.content-title
  %h4
    SUBSCRIPTIONS
  %h6
    All of the people who love what you do.
%table.table{"ng-table"=>"", "ng-hide"=>"subscriptions.length == 0"}
  %tr{"ng-repeat"=>"subscription in subscriptions"}
    %td.select-item
      %input{:type=>"checkbox", "ng-click"=>"selectSubscription($event, subscription)"}
    %td{"data-title"=>"'Subscriber Name'"}
      {{subscription.subscriber.firstName}} {{subscription.subscriber.lastName}}
    %td{"data-title"=>"'Plan Name'"}
      {{subscription.plan.name}}
    %td{"data-title"=>"'Last Billed Date'"}
      June 31, 2015
    %td{"data-title"=>"'Last Billed Amount'"}
      $100.00
    %td{"data-title"=>"'Next Invoice Date'"}
      August 31, 2015
    %td{"data-title"=>"'Next Invoice Amount'"}
      $100.00
    %td{"data-title"=>"'Status'"}
      {{subscription.status}}
.no-results{"ng-show"=>"subscriptions.length == 0"}
  %img{:alt => "You have no subscribers", :src => asset_path('dead-moose.png')}/
  %p
    No one has subscribed to any of your plans!
.edit-bar.animate-show{"ng-show"=>"showEditBar()"}
  .edit-controls
    %ul.list-inline.pull-right{:style=>"list-style-type: none;"}
      %li
        %a{:title=>"Subscription Menu", "popover-placement"=>"bottom", "popover-template"=>"'dashboard/ng-app/templates/submenus/subscriptions.html'"}
          %i.fa.fa-cog{"ng-click"=>"openMenu()"}
      %li
        %a{:title=>"Close"}
          %i.fa.fa-times{"ng-click"=>"closeEditBar()" }
  .edit-form-wrapper{:style=>"padding: 0px 20px 60px 20px"}
    %h4
      Subscription Details
    %h6
      Member Since: {{subscription.subscriber.createdAt | date:'mediumDate'}}
    %p.label
      Subscriber Name:
    %p.data
      {{subscription.subscriber.firstName}} {{subscription.subscriber.lastName}}
    %p.label
      Subscriber Email:
    %p.data
      {{subscription.subscriber.user.email}}
    %p.label
      Plan Name:
    %p.data
      {{subscription.plan.name}}
    %p.label
      Subscription Start Date
    %p.data
      {{subscription.subscriber.createdAt | date:'mediumDate'}}
    %p.label
      Subscription End Date
    %p.data
      --
    %p.label
      Billing History
    %p.data
      %table.table
        %tr{"ng-repeat"=>"payment in billing_history"}
          %td
            {{payment.payment_date}}
          %td
            {{payment.amount | currency}}
          %td
            {{payment.status}}
    %p.label
      Next Billing Date
    %p.data
      September 14, 2015
    %p.label
      Subscription status
    %p.data
      {{subscription.status}}
