%header.content-title
  %i.linecons-star.header-icon
  .content-title-wrapper
    %h4
      SUBSCRIPTIONS
    %h6
      All of the people who love what you do.
  .search-toggle{"ng-click"=>"toggle_search()"}
    .fa.fa-search.search-icon
%div.search-panel{"ng-show"=>"display_search"}
  .search-panel-wrapper
    %form{"name"=>"searchForm"}
      .container-fluid
        .row
          .row-height
            .col-md-3.col-height
              .inside
                %label
                  Subscriber Name
                .form-group
                  %input.form-control{"type"=>"text", "placeholder"=>"First Name", "ng-model"=>"search.first_name", "ng-change"=>"getSearchCount()", "ng-model-options"=>"{ debounce: { 'default': 1000, 'blur': 0 } }"}
                .form-group
                  %input.form-control{"type"=>"text", "placeholder"=>"Last Name", "ng-model"=>"search.last_name", "ng-change"=>"getSearchCount()", "ng-model-options"=>"{ debounce: { 'default': 1000, 'blur': 0 } }"}
            .col-md-3.col-height
              .inside
                %label
                  Plan
                .form-group
                  %select#search-plan.form-control.input{:type=>"text",:name=>"search[plan]","ng-model"=>"search.plan_id", "ng-change"=>"getSearchCount()", "ng-model-options"=>"{ debounce: { 'default': 1000, 'blur': 0 } }"}
                    %option{"value"=>"", "selected"=>""}
                      All Plans
                    %option{"ng-repeat"=>"plan in plans", "value"=>"{{plan.id}}"}
                      {{plan.name}}
                %label
                  Subscription Status
                .form-group
                  %select#search-status.form-control.input{:name=>"search[status]","ng-model"=>"search.status", "ng-change"=>"getSearchCount()", "ng-model-options"=>"{ debounce: { 'default': 1000, 'blur': 0 } }"}
                    %option{"value"=>"", "selected"=>""}
                      All Statuses
                    %option{"ng-repeat"=>"status in statuses", "value"=>"{{status.value}}"}
                      {{status.text}}
            .col-md-3.col-height
              .inside
                %label
                  Next Invoice Date
                %p.input-group
                  %input.form-control{"type"=>"date", "uib-datepicker-popup"=>"", "ng-model"=>"search.invoice_from_date"}/
                  %span.input-group-btn
                    %button.btn.btn-default{"type"=>"button", "ng-click"=>"open($event)"}
                      %i.glyphicon.glyphicon-calendar
                %p.input-group
                  %input.form-control{"type"=>"date", "uib-datepicker-popup"=>"", "ng-model"=>"search.invoice_to_date"}/
                  %span.input-group-btn
                    %button.btn.btn-default{"type"=>"button", "ng-click"=>"open($event)"}
                      %i.glyphicon.glyphicon-calendar
            .col-md-3.col-height
              .inside-centered
                %label
                  Matching results
                .results-count
                  {{searchItems}}
                %button.btn.btn-primary.btn-lg{"ng-click"=>"search()"}
                  Apply Search
%table.table{"ng-table"=>"", "ng-hide"=>"subscriptions.length == 0"}
  %tr{"ng-repeat"=>"subscription in subscriptions"}
    %td.select-item
      %input{:type=>"checkbox", "ng-click"=>"selectSubscription($event, subscription)", "ng-checked"=>"selected_subscription == subscription"}
    %td{"data-title"=>"'Subscriber Name'"}
      {{subscription.subscriber.firstName}} {{subscription.subscriber.lastName}}
    %td{"data-title"=>"'Plan Name'"}
      {{subscription.plan.name}}
    %td{"data-title"=>"'Last Billed Date'"}
      June 31, 2015
    %td{"data-title"=>"'Last Billed Amount'"}
      $100.00
    %td{"data-title"=>"'Next Invoice Date'"}
      August 31, 2015
    %td{"data-title"=>"'Next Invoice Amount'"}
      $100.00
    %td{"data-title"=>"'Status'"}
      {{subscription.status}}
%pagination{"total-items"=>"totalItems","ng-model"=>"currentPage","ng-change"=>"pageChanged()", "ng-show"=>"totalItems > 0 && !isLoading"}
.no-results{"ng-show"=>"subscriptions.length == 0 && !isLoading"}
  %img{:alt => "You have no subscribers", :src => asset_path('dead-moose.png')}/
  %p
    No one has subscribed to any of your plans!
.edit-bar.animate-show{"ng-show"=>"showEditBar()"}
  .edit-controls
    %ul.list-inline.pull-right{:style=>"list-style-type: none;"}
      %li
        %a{:title=>"Subscription Menu", "popover-placement"=>"bottom", "popover-template"=>"'dashboard/ng-app/templates/submenus/subscriptions.html'"}
          %i.fa.fa-cog{"ng-click"=>"openMenu()"}
      %li
        %a{:title=>"Close"}
          %i.fa.fa-times{"ng-click"=>"closeEditBar()" }
  .edit-form-wrapper{:style=>"padding: 0px 20px 60px 20px"}
    %h4
      Subscription Details
    %h6
      Member Since: {{selected_subscription.subscriber.createdAt | date:'mediumDate'}}
    %p.label
      Subscriber Name:
    %p.data
      {{selected_subscription.subscriber.firstName}} {{selected_subscription.subscriber.lastName}}
    %p.label
      Subscriber Email:
    %p.data
      {{selected_subscription.subscriber.user.email}}
    %p.label
      Plan Name:
    %p.data
      {{selected_subscription.plan.name}}
    %p.label
      Subscription Start Date
    %p.data
      {{selected_subscription.subscriber.createdAt | date:'mediumDate'}}
    %p.label
      Subscription End Date
    %p.data
      --
    %p.label
      Billing History
    %p.data
      %table.table
        %tr{"ng-repeat"=>"payment in selected_subscription.subscriber.billingHistory"}
          %td
            {{payment.createdAt | date :'shortDate'}}
          %td
            {{payment.amount | currency}}
          %td
            {{payment.status}}
    %p.label
      Next Billing Date
    %p.data
      September 14, 2015
    %p.label
      Subscription status
    %p.data
      {{selected_subscription.status}}
%div{"loading-screen" => "isLoading"}
%div{"ng-include"=>"'dashboard/ng-app/templates/subscriptions/cancel_subscription.html'"}
%div{"ng-include"=>"'dashboard/ng-app/templates/subscriptions/change_plan.html'"}
