%ul.nav.submenu-nav
  %li
    %a{"ui-sref"=>"account"}
      %i.linecons-note
      Account Settings
  %li
    %a{"ui-sref"=>"change_password"}
      %i.linecons-key
      Change Password
  %li
    %a{"ui-sref"=>"my_subscriptions"}
      %i.linecons-heart
      My Subscriptions
  %li
    %a{"ui-sref"=>"cards"}
      %i.icon.fa.fa-credit-card
      Payment Methods
  %li
    %a{"ui-sref"=>"billing_history"}
      %i.icon.fa.fa-book
      Billing History
  %li
    %a{"ng-click"=>"logout()"}
      %i.icon.fa.fa-sign-out
      Log out
