%ul.nav.submenu-nav
  %li
    %a{"ui-sref"=>"dashboard.account"}
      %i.linecons-note
      Account Settings
  %li
    %a{"ui-sref"=>"dashboard.change_password"}
      %i.linecons-key
      Change Password
  %li
    %a{"ui-sref"=>"dashboard.my_subscriptions"}
      %i.linecons-heart
      My Subscriptions
  %li
    %a{"ui-sref"=>"dashboard.cards"}
      %i.icon.fa.fa-credit-card
      Payment Methods
  %li
    %a{"ui-sref"=>"dashboard.billing_history"}
      %i.icon.fa.fa-book
      Billing History
  %li
    %a{"ui-sref"=>"dashboard.logout"}
      %i.icon.fa.fa-sign-out
      Log out
