%ul.nav.submenu-nav
  %li
    %a{"ui-sref"=>"account"}
      %i.linecons-note
      Account Settings
  %li
    %a{"ui-sref"=>"password"}
      %i.linecons-note
      Change Password
  %li
    %a{"ui-sref"=>"my_subscriptions"}
      %i.icon.fa.fa-wrench>
      My Subscriptions
  %li
    %a{"ui-sref"=>"cards"}
      %i.icon.fa.fa-exchange>
      Payment Methods
  %li
    %a{"ui-sref"=>"billing_history"}
      %i.icon.fa.fa-exchange>
      Billing History
  %li
    %a{"ng-click"=>"logout()"}
      %i.icon.fa.fa-wrench>
      Log out
