%ul.nav.submenu-nav
  %li
    %a.top-nav-item
      Edit Plan
  %li
    %a{"ng-click"=>"delete_plan_clicked()"}
      Delete Plan
  %li
    %a{"ng-click"=>"share_plan_clicked()"}
      Share Plan
  %li
    %a
      Subscribers
