%ul.nav.submenu-nav
  %li
    %a{"ui-sref"=>"dashboard.plans.delete({plan: {{selected_plan}}})"}
      Delete Plan
  %li
    %a{"ui-sref"=>"dashboard.plans.share({plan: {{selected_plan}}})"}
      Share Plan
