%ul.nav.submenu-nav
  %li
    %a.top-nav-item{"ng-click"=>"change_plan_clicked()"}
      Change Plan
  %li
    %a{"ng-click"=>"cancel_subscription_clicked()"}
      Cancel Subscription
  %li
    %a
      Credit Subscription
