// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//colors
$white: #fff;
$concrete: #f2f2f2;
$background-color: #edf0f5;
$border-color: #e5e7eb;
$subnav-link-color: #6a6c6f;
$table-header-color: #6a6c6f;
$table-data-color: #98a2b6;
$label-color: #34495e;
$button-color: #1abc9c;

html, body {
  height: 100%;
  width: 100%;
  position: absolute;
}
.fill-height {
  min-height: 100%;
  height:auto !important; /* cross-browser */
  height: 100%; /* cross-browser */
}
.container-fluid, .row-fluid {
  height: inherit;
}
body {
  font-family: "Raleway", Arial, sans-serif;
	padding-top: 51px;
  background-color: $white;
  label, .label {
    font-family: "Lato", Arial, sans-serif;
    font-size: 14px;
    color: $label-color;
    font-weight: 400;
  }
  .form-control {
    color: #34495e;
    border: 1px solid #d5d9de;
    font-family: "Lato", Arial, sans-serif;
    font-weight: 200;
  }
  .btn-primary {
    background-color: $button-color;
    border-width: 0px;
    height: 40px;
    font-family: "Lato", Arial, sans-serif;
  }
  .navbar {
    background-color: #ffffff;
    border-bottom: solid 1px $border-color;
    .navbar-toggle .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      background-color: #cccccc;
      border-radius: 1px;
    }
  }
  .navbar-header {
    background-color: #f7f9fa;
    border-right: solid 1px $border-color;
    padding-left: 40px;
  }
  .container-fluid {
    padding-left: 0px;
  }
  a.navbar-brand {
    font-size: 14px;
    font-weight: 700;
    color: #34495e;
  }
  #top-nav {
    margin-right: 38px;
    li a {
      font-size: 18px;
      font-weight: 700;
      color: $border-color;
    }
  }
  .no-results {
    margin-top: 20px;
    text-align: center;
    p {
      margin-top: 20px;
      position: absolute;
      top: 50%;
      left: 25%;
      text-align: center;
      width: 50%;
      height: 40px;
      background-color: white;
      border-radius: 8px;
      opacity: 0.8;
      filter: alpha(opacity=60);
      vertical-align: middle;
      line-height: 40px;
      color: #000000;
      font-size: 14px;
      font-weight: 700;
    }
    img {
      width: 50%;
    }
  }
  .table {
    font-family: 'Lato', sans-serif;
    thead {
      tr {
        th {
          line-height: 50px;
          vertical-align: middle;
          color: $table-header-color;
          background-color: $white;
          border-bottom: solid 1px $border-color;
          font-size: 12px;
          font-weight: 700;
          text-align: left;
        }
      }
    }
    tbody {
      tr {
        td.select-item {
          width: 60px;
          text-align: center;
        }
        td.payment-method {
          line-height: normal;
        }
        td {
          line-height: 50px;
          vertical-align: middle;
          color: $table-data-color;
          background-color: $white;
          border-bottom: solid 1px $border-color;
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
  }
}
.text-center {
	padding-top: 20px;
}
.col-xs-12 {
	background-color: $white;
}
#sidebar {
  background-color: $white;
	padding-right: 0px;
  padding-left: 0px;
  [class^="linecons-"], [class*=" linecons-"] {
    font-size: 14px;
  }
  h4.user-name {
    font-size: 12px;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 4px;
  }
  h5.company-name {
    font-size: 11px;
    font-weight: 400;
    margin-top: 6px;
  }
  h6.mm-stats {
    font-size: 14px;
    font-weight: medium;
    margin: 20px 0px;
  }
  ul {
    margin-left: 0px;
    padding-left: 0px;
    li.top-nav-item {
      border-top-width: 1px;
    }
  	li {
      position: relative;
      height: 40px;
      line-height: 40px;
      font-weight: 700;
      font-size: 10px;
      background-color: #f7f9fa;
  		border: 0 $border-color solid;
  		border-bottom-width: 1px;
      a {
        color: $subnav-link-color;
        padding: 0px 15px;
      }
  	}
    li.selected:after {
      position: absolute;
      right: 20px;
      top: 0px;
      font-family: FontAwesome;
      content: "\f053";
      color: #bec6d4;
      font-size: 10px;
    }
  }
}
#content {
  background-color: $background-color;
  border-left: solid 1px $border-color;
  min-height: 100%;
  height: 100%;
}
#content-wrapper {
  margin-right: -15px;
  .content-title {
    background-color: #f7f9fa;
    height: 95px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 20px;
    padding-left: 25px;
    padding-top: 15px;
    font-family: 'Lato', sans-serif;
    h4 {
      font-size: 28px;
      color: #6a6c6f;
      font-weight: 700;
      margin-bottom: 0px;
    }
    h6 {
      font-size: 12px;
      color: #6a6c6f;
      font-weight: 200;
      margin-top: 4px;
    }
  }
}
.edit-bar.animate-show {
  right: 0px;
}
.edit-bar.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}
.edit-bar.ng-hide {
  right: -265px;
  display: block !important;
}

.edit-bar {
  width: 265px;
  position: fixed;
  right: 0px;
  top: 52px;
  bottom: 0px;
  overflow: scroll;
  background-color: $white;
  border-left: solid 1px $border-color;
  h4 {
    margin-bottom: 0px;
  }
  h6 {
    margin-top: 0px;
  }
  .popover {
    width: 200px;
    left:40px !important;
    border-radius: 2px;
    .arrow {
      left: auto;
      right: 20px !important;
    }
    .popover-content {
      padding: 0px;
    }
  }
  .edit-controls {
    margin: 12px 15px 60px 0px;
    font-size: 18px;
    color: #34495e;
  }
  .label {
    padding-left: 0px;
  }
  .btn-primary {
    width: 100%;
  }
}
.submenu-nav {
  padding-top: 12px;
  a {
    background-color: #f7f9fa;
    border-bottom: solid 1px #e5e7eb;
    color: #6a6c6f;
    font-family: "Raleway", Arial, sans-serif;
  	font-size: 12px;
    font-weight: 500;
  }
  a.top-nav-item {
    border-top: solid 1px #e5e7eb;
  }
}
@media screen and(max-width: 767px) {
  .row-offcanvas {
		position: relative;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.25s ease-out;
	}
	.row-offcanvas-right {
		.sidebar-offcanvas {
			right: -41.6%;
		}
		&.active {
			right: 41.6%;
		}
	}
	.row-offcanvas-left {
		.sidebar-offcanvas {
			left: -41.6%;
		}
		&.active {
			left: 41.6%;
		}
	}
	.sidebar-offcanvas {
		position: absolute;
		top: 0;
		width: 41.6%;
	}
	#sidebar {
		padding-top: 0;
	}
  .edit-bar {
    width: 100%;
  }
  .edit-bar.animate-show {
    left: 0px;
    right: auto;
  }
  .edit-bar.ng-hide-add, .animate-show.ng-hide-remove {
    transition: all linear 0.5s;
  }
  .edit-bar.ng-hide {
    left: 100%;
    right: auto;
    display: block !important;
  }
}
.success-message, .error-message {
    width: 80%;
    position: fixed;
    top: 0px;
    left: 10%;
    border-radius: 10px;
    z-index: 10000;
}
.success-message.animate-show, .error-message.animate-show {
  top: 0px;
  bottom: auto;
}
.success-message.ng-hide-add, .success-message.animate-show.ng-hide-remove, .error-message.ng-hide-add, .error-message.animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}
.success-message.ng-hide, .error-message.ng-hide {
  top: -60px;
  display: block !important;
}
