.modal-lg {
  width: 80% !important;
}
.modal-content {
    border-radius: 0px;
    min-height: 600px;
    margin-top: 60px;
    margin-bottom: 60px;
    ul#steps {
      margin-top: 40px;
      margin-bottom: 40px;
      > li {
        color: #34495e;
        font-weight: 200;
        font-size: 16px;
        padding-left: 80px;
        min-height: 80px;
        a {
          display: inline;
          padding: 0px 15px;
          font-weight: bold;
          font-size: 12px;
        }
        a:hover {
          background: none;
          cursor: default;
        }
      }
      > li.active-step:before {
        background-color: #62cb31;
      }
      > li:before {
          font-family: FontAwesome;
          font-weight: normal;
          font-style: normal;
          color: #ffffff;
          display: block;
          background: url("icon.jpg") no-repeat;
          background-color: #34495e;
          width: 46px;
          height: 46px;
          border-radius: 23px;
          position: absolute;
          left: 10px;
          top: 10px;
      }
      > li::before {
          font-size: 18px;
          padding-left: 15px;
          padding-top: 10px;
      }
      > li.brush::before {
        content: "\f1fc";
      }
      > li.heart::before {
        content: "\f08a";
      }
      > li.money::before {
        content: "\f19c";
      }
      > li.flash::before {
        content: "\f0e7";
      }
      > li.peoples::before {
        content: "\f0c0";
      }
    }
    ul#plans {
      li {
        h6 {
          font-weight: bold;
          font-size: 24px;
        }
      }
      li:before {
          font-family: FontAwesome;
          content: "\f10c";
          font-size: 24px;
          font-weight: normal;
          font-style: normal;
          color: #000;
          display: block;
          width: 46px;
          height: 46px;
          border-radius: 23px;
          position: absolute;
          left: -40px;
          top: 0px;
          a {
            display: inline;
            padding: 0px 15px;
            font-weight: bold;
            font-size: 12px;
          }
          a:hover {
            background: none;
            cursor: default;
          }
        }
        li.selected:before {
          content: "\f111";
        }
    }
}
.modal-header {
  background-color: #34495e;
  color: #ffffff;
  border-bottom: solid 26px #f7f9fa;
  background-image: url(/assets/mm-logo.png);
  background-size: 80px 70px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 60px;
  padding-right:60px;
  background-origin: content-box;
  h2 {
    font-weight: 200;
    font-size: 28px;
    margin-bottom: 4px;
    padding-left: 120px;
  }
  h4 {
    font-weight: 200;
    font-size: 18px;
    margin-top: 0px;
    padding-left: 120px;
  }
}




.bronze {
  background-color: #B0C4DE;
}

.bronze-text {
  color: #B0C4DE;
}

.silver {
  color: #fff;
  background-color: #C0C0C0;
 }

.gold {
  color: #fff;
  background-color: #FFD700;
 }

.gold-text {
    color:#FFD700;
}

.content .card {
    position:relative;
    background:#dddddd;
    padding-top:40px;
    padding-bottom:40px;
    border-radius:7px;
    color:#777;
    box-shadow:-5px 5px 0 rgba(0,0,0,0.05);
}
.content .plan {
    position:relative;
    background:rgba(255,255,255,1);
    margin-top: 0px;
    padding-top:20px;
    padding-bottom:20px;
    border-radius:7px;
    color:#777;
    box-shadow:5px 5px 0 rgba(0,0,0,0.05);
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.content .plan.featured {
    top:0;
    padding-top:50px;
    padding-bottom:50px;
}

.content .plan:hover,
.content .plan.featured {
    background:#5CC9DF;
    color:#fff;
}

.content .plan h2 {
    font-size:28px;
    font-weight:700;
    margin-bottom:0;
    text-transform:uppercase;
}

.content .plan.featured h2 {
    margin-bottom:10px;
}

.content .plan p {
    margin-bottom:5px;
    font-weight:400;
}

.content .plan .icon {
    display:inline-block;
    margin-bottom:30px;
    width:120px;
    height:120px;
    border-radius:50%;
    font-size:48px;
    line-height:120px;
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.content .plan.featured .icon,
.content .plan:hover .icon{
    color:#5cc9df;
    background:#fff;
}

.content .plan .btn-pricing {
    margin-top:20px;
    margin-bottom:0;
    font-size:16px;
    padding:10px 20px;
}

.content .plan.featured .btn-pricing,
.content .plan:hover .btn-pricing {
    background: #fff;
    color:#5CC9DF;
}

.content .plan .price {
    font-size:48px;
    font-weight:100;
    line-height:48px;
}
.content .plan .interval {
    margin-bottom:30px;
}

.content .plan.featured .price {
    margin-bottom:40px;
}
