.modal-lg {
  width: 80% !important;
}
.modal-content {
    border-radius: 0px;
    min-height: 600px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.modal-header {
  background-color: #34495e;
  color: #ffffff;
  h2 {
    font-weight: 200;
    font-size: 24px;
    margin-bottom: 4px;
  }
  h4 {
    font-weight: 200;
    font-size: 18px;
    margin-top: 0px;
  }
}
