.modal-lg {
  width: 80% !important;
}
.modal-content {
    border-radius: 0px;
    min-height: 600px;
    margin-top: 60px;
    margin-bottom: 60px;
    ul#steps {
      margin-top: 40px;
      margin-bottom: 40px;
      > li {
        color: #34495e;
        font-weight: 200;
        font-size: 16px;
        padding-left: 80px;
        min-height: 80px;
        a {
          display: inline;
          padding: 0px 15px;
          font-weight: bold;
          font-size: 12px;
        }
        a:hover {
          background: none;
          cursor: default;
        }
      }
      > li.active-step:before {
        background-color: #62cb31;
      }
      > li:before {
          font-family: FontAwesome;
          font-weight: normal;
          font-style: normal;
          color: #ffffff;
          display: block;
          background: url("icon.jpg") no-repeat;
          background-color: #34495e;
          width: 46px;
          height: 46px;
          border-radius: 23px;
          position: absolute;
          left: 10px;
          top: 10px;
      }
      > li::before {
          font-size: 18px;
          padding-left: 15px;
          padding-top: 10px;
      }
      > li.brush::before {
        content: "\f1fc";
      }
      > li.heart::before {
        content: "\f08a";
      }
      > li.money::before {
        content: "\f19c";
      }
      > li.flash::before {
        content: "\f0e7";
      }
      > li.peoples::before {
        content: "\f0c0";
      }
    }
    ul#plans {
      li {
        h6 {
          font-weight: bold;
          font-size: 24px;
        }
      }
      li:before {
          font-family: FontAwesome;
          content: "\f10c";
          font-size: 24px;
          font-weight: normal;
          font-style: normal;
          color: #000;
          display: block;
          width: 46px;
          height: 46px;
          border-radius: 23px;
          position: absolute;
          left: -40px;
          top: 0px;
          a {
            display: inline;
            padding: 0px 15px;
            font-weight: bold;
            font-size: 12px;
          }
          a:hover {
            background: none;
            cursor: default;
          }
        }
        li.selected:before {
          content: "\f111";
        }
    }
}
.modal-header {
  background-color: #34495e;
  color: #ffffff;
  border-bottom: solid 26px #f7f9fa;
  background-image: url(/assets/mm-logo.png);
  background-size: 80px 70px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 60px;
  padding-right:60px;
  background-origin: content-box;
  h2 {
    font-weight: 200;
    font-size: 28px;
    margin-bottom: 4px;
    padding-left: 120px;
  }
  h4 {
    font-weight: 200;
    font-size: 18px;
    margin-top: 0px;
    padding-left: 120px;
  }
}
