// Place all the styles related to the Plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$selected-plan-border-color: #55acee;

.btn-circle {
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 6px 0;
  font-size: 36px;
  line-height: 1.24;
  border-radius: 30px;
}
#create-plan {
  position: absolute;
  top: 65px;
  right: 160px;
}
.plan {
  background-color: white;
  min-height: 240px;
  text-align: center;
  margin: 20px 0px;
  list-style-type: none;
  font-family: 'Raleway';
  color: #55acee;
  .logo {
    padding: 20px 0px;
    width: 200px;
  }
  .controls {
    margin-right: 12px;
  }
  h1 {
    font-size: 18px;
    margin-bottom: 2px;
  }
  h2.plan-name {
    font-size: 16px;
    margin-bottom: 0px;
  }
  h3.plan-amount {
    font-size: 14px;
    font-weight: 700;
    margin-top: 2px;
  }
  .center-container {
    position: relative;
  }
  .absolute-center {
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }
}
.plan.thumbnail {
  padding: 20px 0px;
}
.plan.selected {
  border: solid 1px $selected-plan-border-color;
}
#current-plan-wrapper {
  border: solid 1px #e5e7eb;
  margin: 10px 0px;
  padding: 40px 20px;
  #current-plan {
    font-family: "Lato", Arial, sans-serif;
    .subscription-cost {
      color: #62cb31;
      font-size: 24px;
      font-weight: 700;
      padding-top: 0px;
      margin-bottom: 24px;
    }
    .subscription-description {
      margin-bottom: 10px;
    }
  }
}
#upgrade-plan-wrapper {
  margin-bottom: 20px;
}
