.remodel-overlay{"style"=>"display: none;", "ng-controller"=>"RefundPaymentController"}
  .remodal{"data-remodal-id"=>"billing-history-modal", "data-remodal-options"=>"hashTracking: false" }
    %section.active
      %H2
        Billing History for {{}}
