.remodal-overlay{"style"=>"display: none;"}
  .remodal{"data-remodal-id"=>"billing-history-modal", "data-remodal-options"=>"hashTracking: false", "ng-controller"=>"BillingHistoryController" }
    %section.active
      %header
        %h2
          Billing History for {{}}
