.remodal-overlay{"style"=>"display: none;"}
  .remodal{"data-remodal-id"=>"next-invoice-modal", "data-remodal-options"=>"hashTracking: false", "ng-controller"=>"NextInvoiceController" }
    %section.active
      %header
        %h2
          Next Invoice for {{}}
