<form method="POST" action="" id="get-started">
  <div id="error-message" class="alert alert-danger" role="alert" style="display: none;">Sorry, it looks like something went wrong! Please try again.</div>
  <section class="personal-name active" data-id="1" data-action="personal">
    <header>
      <h1>What is your name?</h1>
    </header>

    <div class="group">
      <label for="personal_name">Your Name</label>
      <input type="text" id="personal_name" name="personal_name" placeholder="Moose Anderson" required autofocus>
    </div>

    <footer>
      <button class="continue">Company Name <i class="fa-arrow-right">&nbsp;</i></button>
    </footer>
  </section>

  <section class="company-name" data-id="2" data-action="company">
    <header>
      <h1>What is the name of your company?</h1>
    </header>

    <div class="group">
      <label for="company_name">Company Name</label>
      <input type="text" id="company_name" name="company_name" placeholder="Mooses 'R' Us">
      <!-- <a href="#">Haven't come up with a name yet?</a> -->
    </div>

    <footer>
      <button class="previous"><i class="fa-arrow-left">&nbsp;</i> Your Name</a>
      <button class="continue">Email &amp; Password <i class="fa-arrow-right">&nbsp;</i></a>
    </footer>
  </section>

  <section class="email-and-password" data-id="3" data-action="account">
    <header>
      <h1>What do you want your login details to be?</h1>
    </header>

    <div class="multi-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="email">

      <label for="password">Password</label>
      <input type="text" id="password" name="password" placeholder="password">
    </div>

    <footer>
      <button class="previous"><i class="fa-arrow-left">&nbsp;</i> Company Name</a>
      <button class="continue">Complete Registration <i class="fa-arrow-right">&nbsp;</i></a>
    </footer>
  </section>
</form>
