.remodal-overlay{"style"=>"display: none;"}
  .remodal.action-form{"data-remodal-id"=>"update-card-modal", "data-remodal-options"=>"hashTracking: false" }
    %section.active
      %header
        %h2
          Update Credit Card
        %form{"name"=>"updateCreditCardForm", "novalidate"=>""}
          %p.error-message-block{"ng-show"=>"show_error_message"}
            {{error_message}}
          .form-group
            %label{:for => "card_number"}
              Card Number
            %input.col-lg-12#card_number{:autofocus => "", :name => "card_number", :placeholder => "Credit Card Number", :required => "", :type => "text", "ng-model"=>"creditCard.number"}/
            %span{"ng-show" => "form_submitted && addCreditCardForm['card_number'].$invalid", :style => "color:red"}
              %span{"ng-show" => "addCreditCardForm['card_number'].$error.required"}
                Card Number is required.
          .form-group
            %label{:for => "expiry_date"}
              Expiry Date
            %input#expiry_date_month{:name => "expiry_date_month", :placeholder => "MM", :required => "", :type => "text", "ng-model"=>"creditCard.exp_month", :style => "width: 120px;"}/
            %span{:style=>"display: inline;"}
              \/
            %input#expiry_date_year{:name => "expiry_date_year", :placeholder => "YYYY", :required => "", :type => "text", "ng-model"=>"creditCard.exp_year", :style => "width:180px;"}/
            %span{"ng-show" => "form_submitted && addCreditCardForm['expiry_date_month'].$invalid", :style => "color:red"}
              %span{"ng-show" => "addCreditCardForm['expiry_date_month'].$error.required"}
                Card Expiration month is required.
            %label{:for => "security_code"}
              Security Code
            %input#security_code{:name => "security_code", :placeholder => "CVC Code", :required => "", :type => "text", "ng-model"=>"creditCard.cvc", :style => "width: 200px;"}/
            %span{"ng-show" => "form_submitted && addCreditCardForm['security_code'].$invalid", :style => "color:red"}
              %span{"ng-show" => "addCreditCardForm['security_code'].$error.required"}
                Security Code is required.
          %footer
            %button.previous{"ng-click"=>"dismissModal()"}
              Cancel
            %button.continue{"ng-click"=>"updateCardSubmit(updateCreditCardForm)"}
              Submit
              %i.fa-arrow-right
        %div{"loading-screen" => "loading.show_spinner"}
