.remodel-overlay{"style"=>"display: none;"}
  .remodal{"data-remodal-id"=>"cancel-subscription-modal", "data-remodal-options"=>"hashTracking: false" }
    %section.active
      %H2
        Cancel Subscription?
      %h4
        {{selected_subscription.plan.name}}
