.remodel-overlay{"style"=>"display: none;"}
  .remodal.action-form{"data-remodal-id"=>"change-plan-modal", "data-remodal-options"=>"hashTracking: false" }
    %section.active
      %H2
        Change Plan?
      %h4
        {{selected_subscription.plan.name}}
