.action-form{"data-remodal-id"=>"change-plan-modal", "data-remodal-options"=>"hashTracking: false" }
  %section.active
    %H2
      Upgrade/Downgrade Plan?
    %h4
      {{subscription.subscriber.subscriberName}} is currently subscribed to {{subscription.plan.name}}.  To upgrade or downgrade
      {{subscription.subscriber.subscriberName}}'s subscription, pick another plan.
    %p
      .container-fluid
        .row-fluid
          .col-md-4{"ng-repeat"=>"plan in plans | filter: filterSubscribedPlan"}
            .plan.thumbnail{"ng-click"=>"selectPlan(plan)", "ng-class"=>"{ 'selected': isPlanSelected(plan) }" }
              .plan-info
                %h2.plan-name
                  {{plan.name}}
                %h3.plan-amount
                  {{plan.amount | currency }}/{{ plan.billingCycle }}
    %footer
      %button.continue{"ng-click"=>"changePlanSubmit()"}
        Change Plan
        %i.fa-arrow-right
    %div{"loading-screen" => "loading.show_spinner"}
