.action-form{"data-remodal-id"=>"delete-card-modal", "data-remodal-options"=>"hashTracking: false" }
  %section{"ng-class"=>"{ 'active': currentStep == 1}" }
    %header
      %h2
        Delete Credit Card
      %h4
        Select card to delete.
    .container-fluid.plans
      .row{:style=>"margin-bottom: 20px;", "ng-show"=>"member.cards.length > 0"}
        .col-md-4{"ng-repeat"=>"card in member.cards"}
          .plan{"ng-click"=>"selectCard(card)", "ng-class"=>"{ 'selected': isSelected(card) }" }
            .plan-info
              .card-default{"ng-show"=>"card.default"}
                Default
              %i.fa.fa-credit-card{:style=>"font-size: 48px;"}
              %h4.card-name
                {{card.nameOnCard}}
              %h5.card-brand
                {{card.brand}} ****{{card.last4}}
    %footer
      %button.previous{"ng-click"=>"dismissModal()"}
        Cancel
      %button.continue{"ng-click"=>"nextStepClicked()"}
        Next
        %i.fa-arrow-right
  %section{"ng-class"=>"{ 'active': currentStep == 2}" }
    %header
      %h2
        Delete a Credit Card
      %h4
        Are you sure your want to delete your {{selectedCard.brand}} card ending in {{selectedCard.last4}}?
      %footer
        %button.previous{"ng-click"=>"previousStepClicked()"}
          Back
        %button.continue{"ng-click"=>"deleteCardSubmit()"}
          Yes, Delete Card
          %i.fa-arrow-right
  %div{"loading-screen" => "loading.show_spinner"}
