.remodal-overlay{"style"=>"display: none;"}
  .remodal{"data-remodal-id"=>"delete-plan-modal", "data-remodal-options"=>"hashTracking: false" }
    %section.active
      %header
        %h2
          Delete Plan {{}}?
