.remodal-overlay{"style"=>"display: none;"}
  .remodal-bg
    .remodal.action-form{"data-remodal-id"=>"new-plan-modal", "data-remodal-options"=>"hashTracking: false" }
      %section{"ng-class"=>"isActiveSection(1)"}
        %form{"name"=>"planNameForm", "novalidate"=>""}
          %header
            %h1
              Tell us about your plan.
          .group
            %label{:for => "plan[name]"}
              Plan Name
            %input#plan_name{:autofocus => "", :name => "plan[name]", :placeholder => "Plan Name", :required => "", :type => "text", "ng-model"=>"plan.name"}/
            %span{"ng-show" => "form_submitted && planNameForm['plan[name]'].$invalid", :style => "color:red"}
              %span{"ng-show" => "planNameForm['plan[name]'].$error.required"}
                Plan name is required.
          .group
            %label{:for => "plan[description]"}
              Plan Description
            %textarea#plan_description{:rows => 5, :name => "plan[description]", :placeholder => "Description of plan", :required => "", "ng-model"=>"plan.description"}
            %span{"ng-show" => "form_submitted && planNameForm['plan[description]'].$invalid", :style => "color:red"}
              %span{"ng-show" => "planNameForm['plan[description]'].$error.required"}
                Plan description is required.
          %footer
            %button.continue{:type=>"submit", "ng-click"=>"nextSection(planNameForm)"}
              Next
              %i.fa-arrow-right
          %div{"loading-screen" => "loading.show_spinner"}
      %section{"ng-class"=>"isActiveSection(2)"}
        %form{"name"=>"planBillingForm", "novalidate"=>""}
          %header
            %h1
              How will you bill your customers?
          .group
            %label{:for => "billing_interval"}
              My customers are billed every
            %input#plan_amount{:autofocus => "", :name => "plan[amount]", :placeholder => "Amount", :required => "", :type => "text", "ng-model"=>"plan.amount"}/
            %span{"ng-show" => "form_submitted && planBillingForm['plan[amount]'].$invalid", :style => "color:red"}
              %span{"ng-show" => "planBillingForm['plan[amount]'].$error.required"}
                Amount is a required field.
            .input-wrapper
              %select#billing_cycle{:name => "plan[billing_cycle]", :placeholder => "Billing Cycle", :required => "", "ng-model"=>"plan.billing_cycle"}
                %option{"value"=>"", "selected"=>""}
                  Billing Interval
                %option{"style"=>"text-align:center", "value"=>"day"}
                  Daily
                %option{"value"=>"week"}
                  Weekly
                %option{"value"=>"month"}
                  Monthly
                %option{"value"=>"year"}
                  Yearly
            %span{"ng-show" => "form_submitted && planBillingForm['plan[billing_cycle]'].$invalid", :style => "color:red"}
              %span{"ng-show" => "planBillingForm['plan[billing_cycle]'].$error.required"}
                Billing cycle is required.
          %footer
            %button.previous{"ng-click"=>"goToPreviousSection()"}
              Back
            %button.continue{"ng-click"=>"nextSection(planBillingForm)"}
              Next
              %i.fa-arrow-right
          %div{"loading-screen" => "loading.show_spinner"}
      %section{"ng-class"=>"isActiveSection(3)"}
        %form{"name"=>"hasPlanTrialPeriod", "novalidate"=>""}
          %header
            %h1
              Do you offer new subscribers a free trial period?
          .group
            %label{:for => "free_trial_period"}
              Free Trial Period
            %input#free_trial_period{:autofocus => "", :name => "plan[free_trial_period_yes]", :required => "", :type => "radio", "ng-model"=>"plan.has_free_trial_period", "ng-value"=>"true"}
              Yes
            %input#free_trial_period{:autofocus => "", :name => "plan[free_trial_period_no]", :required => "", :type => "radio", "ng-model"=>"plan.has_free_trial_period", "ng-value"=>"false"}
              No
            %span{"ng-show" => "form_submitted && planTrialPeriod['plan[free_trial_period]'].$invalid", :style => "color:red"}
              %span{"ng-show" => "planTrialPeriod['plan[free_trial_period]'].$error.required"}
                Free Trial Period is required.
          %footer
            %button.previous{"ng-click"=>"goToPreviousSection()"}
              Back
            %button.continue{"ng-click"=>"hasFreeTrialPeriodClicked(hasPlanTrialPeriod)"}
              Next
              %i.fa-arrow-right
          %div{"loading-screen" => "loading.show_spinner"}
      %section{"ng-class"=>"isActiveSection(4)"}
        %form{"name"=>"planTrialPeriod", "novalidate"=>""}
          %header
            %h1
              How many days is your plan's free trial period?
          .group
            %label{:for => "free_trial_period"}
              Free Trial Period
            %input#free_trial_period{:autofocus => "", :name => "plan[free_trial_period_yes]", :placeholder => "Free Trial Period (# of days)", :required => "", :type => "text", "maxlength"=>"4", "ng-model"=>"plan.free_trial_period"}/
            %span{"ng-show" => "form_submitted && planTrialPeriod['plan[free_trial_period]'].$invalid", :style => "color:red"}
              %span{"ng-show" => "planTrialPeriod['plan[free_trial_period]'].$error.required"}
                Free Trial Period is required.
          %footer
            %button.previous{"ng-click"=>"goToPreviousSection()"}
              Back
            %button.continue{"ng-click"=>"nextSection(planTrialPeriod)"}
              Next
              %i.fa-arrow-right
          %div{"loading-screen" => "loading.show_spinner"}
      %section{"ng-class"=>"isActiveSection(5)"}
        %form{"name"=>"planTermsForm", "novalidate"=>""}
          %header
            %h1
              Are there any Terms and Conditions for your plan?
          .group
            %label{:for => "terms_and_conditions"}
              Terms and Conditions
            %textarea#terms_and_conditions{:autofocus => "", :rows => 5, :name => "plan[terms_and_conditions]", :placeholder => "Terms and Conditions", "ng-modal"=>"plan.terms_and_conditions"}
          %footer
            %button.previous{"ng-click"=>"goToPreviousSection()"}
              Back
            %button.continue{"ng-click"=>"createPlan(planTermsForm)"}
              Create Plan
              %i.fa-arrow-right
          %div{"loading-screen" => "loading.show_spinner"}
