.remodal-overlay{"style"=>"display: none;"}
  .remodal.action-form{"data-remodal-id"=>"share-plan-modal", "data-remodal-options"=>"hashTracking: false" }
    %section.active
      %header
        %h2
          Share Plan {{}}?
        %ul.list-inline
          %li
            %a
              URL
            %a
              EMAIL
            %a
              SMS
            %a
              EMBED
          %p
            %input{"type"=>"text"}
