.remodal-overlay{"style"=>"display: none;"}
  .remodal.action-form{"data-remodal-id"=>"change-password-modal", "data-remodal-options"=>"hashTracking: false" }
    %section.active
      %header
        %h2
          Change Your Password
        %form{"name"=>"passwordForm", "novalidate"=>""}
          %p.error-message-block{"ng-show"=>"show_error_message"}
            {{error_message}}
          .group
            %label{:for => "current_password"}
              Current Password
            %input#free_trial_period{:autofocus => "", :name => "current_password", :placeholder => "Current Password", :required => "", :type => "password", "ng-model"=>"change_password.current_password"}/
            %span{"ng-show" => "form_submitted && passwordForm['current_password'].$invalid", :style => "color:red"}
              %span{"ng-show" => "passwordForm['current_password'].$error.required"}
                Please enter your current password.
          .group
            %label{:for => "new_password"}
              New Password
            %input#new_password{:autofocus => "", :name => "new_password", :placeholder => "New Password", :required => "", :type => "password", "ng-model"=>"change_password.new_password"}/
            %span{"ng-show" => "form_submitted && passwordForm['new_password'].$invalid", :style => "color:red"}
              %span{"ng-show" => "passwordForm['new_password'].$error.required"}
                Please enter your new password.
          .group
            %label{:for => "new_password_again"}
              New Password Again
            %input#new_password_again{:autofocus => "", :name => "new_password_again", :placeholder => "New Password (Again)", :required => "", :type => "password", "ng-model"=>"change_password.new_password_again"}/
            %span{"ng-show" => "form_submitted && passwordForm['new_password_again'].$invalid", :style => "color:red"}
              %span{"ng-show" => "passwordForm['new_password_again'].$error.required"}
                Please enter your password again.
          %footer
            %button.previous{"ng-click"=>"changePasswordCancelled()"}
              Cancel
            %button.continue{"ng-click"=>"updatePassword(passwordForm)"}
              Submit
              %i.fa-arrow-right
        %div{"loading-screen" => "loading.show_spinner"}
