.remodal-overlay{"style"=>"display: none;"}
  .remodal.action-form{"data-remodal-id"=>"delete-card-modal", "data-remodal-options"=>"hashTracking: false" }
    %section{"ng-class"=>"setActiveStep(1)"}
      %header
        %h2
          Delete a Credit Card
      %p
        .col-md-3{"ng-repeat"=>"card in user.account.cards"}
          .card.thumbnail{"ng-click"=>"setSelectedCard(card)", "ng-class"=>"isSelectedCard(card)"}
            .card-info
              %h2.card-name
                {{card.brand}} {{card.last4}}
              %h3.card-expiration
                {{card.expirationMonth }}/{{card.expirationYear}}
      %footer
        %button.previous{"ng-click"=>"dismissModal()"}
          Cancel
        %button.continue{"ng-click"=>"nextStep()"}
          Next
          %i.fa-arrow-right
      %div{"loading-screen" => "loading.show_spinner"}
    %section{"ng-class"=>"setActiveStep(2)"}
      %header
        %h2
          Delete a Credit Card
        %h4
          Are you sure your want to delete your {{selected_credit_card.brand}} card ending in {{selected_credit_card.last4}}?
        %footer
          %button.previous{"ng-click"=>"previousStep()"}
            Back
          %button.continue{"ng-click"=>"deleteCreditCardSubmit()"}
            Next
            %i.fa-arrow-right
        %div{"loading-screen" => "loading.show_spinner"}
