%header.content-title
  %i.linecons-heart.header-icon
  .content-title-wrapper
    %h4
      My Subscriptions
    %h6
      Here are the plans you've signed up for.
.container-fluid.plans{"style"=>"min-height: 400px;"}
  .row{:style=>"margin-bottom: 20px;", "ng-show"=>"user.account.subscriptions.length > 0"}
    .col-md-4{"ng-repeat"=>"subscription in user.account.subscriptions"}
      .plan.thumbnail
        .plan-info
          %img.logo{"ng-src"=>"{{subscription.plan.account.logo.url}}", "alt"=>"subscription.plan.account.companyName","ng-show"=>"subscription.plan.account.logo.url.length > 0"}
          %h1.company-name
            {{subscription.plan.account.companyName}}
          %h2.plan-name
            {{subscription.plan.name}}
          %h3.plan-amount
            {{subscription.plan.amount | currency }}/{{ subscription.plan.billingCycle }}
        %div{"ng-hide"=>"subscription.status == 'cancelled'"}
          %button.btn.btn-lg.btn-primary{"ui-sref"=>"dashboard.my_subscriptions.unsubscribe({subscription: {{subscription}} })"}
            Unsubscribe
          %button.btn.btn-lg.btn-primary{"ui-sref"=>"dashboard.my_subscriptions.upgrade({subscription: {{subscription}} })"}
            Change Plan
        %div{"ng-show"=>"subscription.status == 'cancelled'"}
          %h2.alert
            Cancelled
  .row{:style=>"margin-bottom: 20px;", "ng-show"=>"user.account.subscriptions.length == 0"}
    .col-md-12
      .no-results
        %img{:alt => "No Subscriptions", :src => asset_path('dead-moose.png')}/
        %p
          You don't have any subscription yet!
%div{"loading-screen" => "loading.show_spinner"}
%main.remodal-bg
  .remodal{"data-remodal-id" => "modal"}
    .moose-dialog
      .fa.fa-heater
    .remodal-overlay
      %ui-view#modal
