.action-form{"data-remodal-id"=>"stripe-modal", "data-remodal-options"=>"hashTracking: false" }
  %section{"ng-class"=>"{'active': isActiveStep(1)}"}
    %header
      %h1
        Connect your Stripe Account
    .group
      #connect-stripe-wrapper{"style"=>"padding: 50px 0px;"}
        %a.stripe-connect{"ng-click"=>"stripe_connect()"}
          %span
            Connect With Stripe
      %p.notes{"ng-show"=>"user.account.payment_processors.length > 0"}
        Your Stripe account with the email address <strong>{{user.account.payment_processors[0].email}}</strong> is already connected.  Click the "Connect With Stripe" button
        above if you wish to change your connected Stripe account.
      %p.notes
        Get ready to start accepting payments from your customers.  All you need to do is set up a Stripe account and connect it to MemberMoose. If you don't already have a Stripe account, we'll help you set one up.
        Click the <strong>Connect with Stripe</strong> button above. 
      %p.notes
        All payments made through Stripe are charged a 2.9% +.50 per transaction fee.
    %footer
      %button.continue
        Save
        %i.fa-arrow-right
    %div{"loading-screen" => "loading.show_spinner"}
  %section{"ng-class"=>"{'active': isActiveStep(2)}"}
    %header
      %h1
        Would you like to import any existing plans from your Stripe account?

    %footer
      %button.previous{"ng-click"=>"dismissModal()"}
        No Thanks
      %button.continue{"ng-click"=>"getPlansClicked()"}
        Yes, Import Plans
        %i.fa-arrow-right
    %div{"loading-screen" => "loading.show_spinner"}
  %section{"ng-class"=>"{'active': isActiveStep(3)}"}
    %header
      %h1
        Select the plans you wish to import.
      .container-fluid
        .row{:style=>"margin-bottom: 20px;"}
          .col-md-3{"ng-repeat"=>"plan in plans"}
            .plan.thumbnail{"ng-click"=>"selectPlan(plan)", "ng-class"=>"setSelectedPlan(plan)"}
              .plan-info
                %h2.plan-name
                  {{plan.name}}
                %h3.plan-amount
                  {{plan.amount/100 | currency }}/{{ plan.interval }}
    %footer
      %button.continue{"ng-click"=>"importPlansClicked()"}
        Import Plans
        %i.fa-arrow-right
    %div{"loading-screen" => "loading.show_spinner"}
  %section{"ng-class"=>"{'active': isActiveStep(4)}"}
    %header
      %h2
        Success
      %h4
        Your Stripe account is setup!  You're ready to start accepting payments.
    .group
      %img.trophy{:src => asset_path('trophy.jpg'), "ng-alt"=>"Your Gold Cup!"}
    %footer
      %button.done{"ng-click"=>"dismissModal()"}
        Done
        %i.fa-arrow-right
    %div{"loading-screen" => "loading.show_spinner"}
