#launchlist
  .modal-header
    %h2
      Welcome! Let’s get ready to launch.
    %h4
      We’ll get you started, in fact, we’ll let you use MemberMoosefor free while you checkout our features.
  .modal-body
    .container-fluid
      .row
        .col-md-5
          %ul.nav
            %li
              1. Customize Your site
              %ul.nav
                %li
                  %a{"ng-click"=>"uploadLogoClicked()"}
                    upload your logo
                %li
                  %a{"ng-click"=>"chooseSubDomainClicked()"}
                    choose your sub-domain
            %li
              2. Start Creating Plans
              %ul.nav
                %li
                  %a{"ng-click"=>"createPlanClicked()"}
                    create your first plan
            %li
              3. Setup a Payment Processor
              %ul.nav
                %li
                  %a{"ng-click"=>"connectStripeClicked()"}
                    connect your stripe account
            %li
              4. Activate Your Site
              %ul.nav
                %li
                  %a{"ng-click"=>"pickYourPlanClicked()"}
                    pick your plan
                %li
                  %a{"ng-click"=>"previewYourSiteClicked()"}
                    preview your site
            %li
              5. Get subscribers
              %ul.nav
                %li
                  %a{"ng-click"=>"shareViaEmailClicked()"}
                    share your plan via email
        .col-md-7
          %div{"ng-include"=>"", "src"=>"content_template_url"}
