#launch-list
  .modal-body
    %h2
      Let's Get Started
    %ul
      %li
        1. Upload Your Logo
      %li
        2. Create Your First Plan
      %li
        3. Connect a Payment Processor
      %li
        4. Pick a Plan
