#launch-list
  .modal-body
    %h2
      Let's Get Started
    .container-fluid
      .row
        .col-md-5
          %ul
            %li
              1. Customize Your Site
              %ul.list-inline
                %li
                  %a{"ng-click"=>"uploadLogoClicked()"}
                    Upload Your Logo
                %li
                  %a{"ng-click"=>"setupSubdomainClicked()"}
                    Set Your Subdomain
            %li
              2. Create Your First Plan
              %ul.list-inline
                %li
                  Create Your First Plan
                %li
                  Share Your Plan
            %li
              3. Choose a Payment Processor
              %ul.list-inline
                %li{"ng-click"=>"stripe_connect()"}
                  Connect Stripe
            %li
              4. Pick Your Plan
        .col-md-7
          %h4
            Create Plan
          %form{"name"=>"plansForm","ng-submit"=>"createPlan(plan)", "novalidate"=>""}
            .form-group
              %label{:for=>"planName"}
                Plan Name
              %input#planName.form-control.input{:type=>"text",:name=>"plan[name]",:placeholder=>"Plan Name","ng-model"=>"plan.name", "ng-model-options"=>"{updateOn: 'submit'}", "required"=>""}
              %span{"ng-show" => "plansForm['plan[name]'].$invalid", :style => "color:red"}
                %span{"ng-show" => "plansForm['plan[name]'].$error.required"}
                  Plan name is required.
            .form-group
              %label{:for=>"planDescription"}
                Plan Description
              %textarea#planDescription.form-control.input{:rows=>"5",:name=>"plan[description]",:placeholder=>"Description","ng-model"=>"plan.description", "ng-model-options"=>"{updateOn: 'submit'}", "required"=>""}
              %span{"ng-show" => "plansForm['plan[description]'].$dirty && plansForm['plan[description]'].$invalid", :style => "color:red"}
                %span{"ng-show" => "plansForm['plan[description]'].$error.required"}
                  Plan description is required.
            .form-group
              %label{:for=>"planAmount"}
                Amount
              %input#planAmount.form-control.input{:type=>"text",:name=>"plan[amount]",:placeholder=>"Amount","ng-model"=>"plan.amount", "ng-model-options"=>"{updateOn: 'submit'}", "required"=>""}
              %span{"ng-show" => "plansForm['plan[amount]'].$dirty && plansForm['plan[amount]'].$invalid", :style => "color:red"}
                %span{"ng-show" => "plansForm['plan[amount]'].$error.required"}
                  Amount is required.  If this is a free plan, you must enter $0.
            .form-group
              %label{:for=>"planBillingCycle"}
                Billing Cycle
              %select.form-control{"ng-model"=>"plan.billingCycle", "ng-options"=>"billing_cycle for billing_cycle in billing_cycles"}
              %span{"ng-show" => "plansForm['plan[billing_cycle]'].$dirty && plansForm['plan[billing_cycle]'].$invalid", :style => "color:red"}
                %span{"ng-show" => "plansForm['plan[billing_cycle]'].$error.required"}
                  Billing Cycle is required.
            .form-group
              %label{:for=>"planBillingInterval"}
                Billing Interval
              %input#planBillingInterval.form-control.input{:type=>"text",:name=>"plan[billing_interval]",:placeholder=>"Billing Interval","ng-model"=>"plan.billingInterval", "ng-model-options"=>"{updateOn: 'submit'}"}
            .form-group
              %label{:for=>"planFreeTrialPeriod"}
                Free Trial Period
              %input#planFreeTrialPeriod.form-control.input{:type=>"text",:name=>"plan[trial_period_days]",:placeholder=>"Free Trial Period","ng-model"=>"plan.trialPeriodDays", "ng-model-options"=>"{updateOn: 'submit'}"}
            .form-group
              %label{:for=>"planTermsAndConditions"}
                Terms and Conditions
              %textarea#planTermsAndConditions.form-control{:rows=>"8", :name=>"plan[terms_and_conditions]",:placeholder=>"Terms and Conditions","ng-model"=>"plan.termsAndConditions", "ng-model-options"=>"{updateOn: 'submit'}"}
            .form-group
              %label{:for=>"public"}
                Show on Web Page
              %div
                %switch#public.green{"name"=>"public", "ng-model"=>"plan.public", "ng-model-options"=>"{updateOn: 'submit'}"}}
            %button.btn.btn-primary{:type=>"submit"}
              Create Plan
