.remodal-overlay{"style"=>"display: none;"}
  .remodal{"data-remodal-id"=>"upgrade-plan-modal", "data-remodal-options"=>"hashTracking: false" }
    %section{"ng-class"=>"{'active': !user.account.hasUpgradedPlan}"}
      %header
        %h2
          Upgrade to Awesome-ness
        %h4
          Create unlimited plans, get unlimited subscribers, get unlimited support.
        .container-fluid.payment-form
          .row
            .col-lg-12
              .row.content{:style=>"margin-top: 20px;"}
                .col-lg-6.card
                  .row
                    .col-lg-12
                      .form-group
                        %label{:for => "card_number"}
                          Card Number
                        %input.col-lg-12#card_number{:autofocus => "", :name => "card_number", :placeholder => "Credit Card Number", :required => "", :type => "text", "ng-model"=>"credit_card.number"}/
                        %span{"ng-show" => "form_submitted && upgradePlanForm['card_number'].$invalid", :style => "color:red"}
                          %span{"ng-show" => "upgradePlanForm['card_number'].$error.required"}
                            Card Number is required.
                  .row
                    .col-lg-6
                      .form-group
                        %label{:for => "expiry_date"}
                          Expiry Date
                        %input#expiry_date_month{:name => "expiry_date_month", :placeholder => "MM", :required => "", :type => "text", "ng-model"=>"credit_card.exp_month", :style => "width: 36px;"}/
                        %span{:style=>"display: inline;"}
                          \/
                        %input#expiry_date_year{:name => "expiry_date_year", :placeholder => "YYYY", :required => "", :type => "text", "ng-model"=>"credit_card.exp_year", :style => "width: 60px;"}/
                        %span{"ng-show" => "form_submitted && upgradePlanForm['expiry_date_month'].$invalid", :style => "color:red"}
                          %span{"ng-show" => "upgradePlanForm['expiry_date_month'].$error.required"}
                            Card Expiration month is required.
                    .col-lg-6
                      .form-group
                        %label{:for => "security_code"}
                          Security Code
                        %input#security_code{:name => "security_code", :placeholder => "", :required => "", :type => "text", "ng-model"=>"credit_card.cvc", :style => "width: 100px;"}/
                        %span{"ng-show" => "form_submitted && upgradePlanForm['security_code'].$invalid", :style => "color:red"}
                          %span{"ng-show" => "upgradePlanForm['security_code'].$error.required"}
                            Security Code is required.
                .col-lg-6.text-center.plan
                  .row
                    %p.price
                      $30/mo
                    %p
                      Unlimited Plans
                    %p
                      Unlimited members
                    %p
                      Awesome tools
                    %p
                      Excellent Support
      %footer
        %button.continue{"ng-click"=>"upgradePlanSubmit()"}
          Upgrade
          %i.fa-arrow-right
      %div{"loading-screen" => "loading.show_spinner"}
    %section{"ng-class"=>"{'active': user.account.hasUploadedLogo}"}
      %header
        %h2
          Success
        %h4
          Your plan is upgraded.
      .group
        %img.trophy{:src => asset_path('trophy.jpg'), "ng-alt"=>"Your Gold Cup!"}
      %footer
        %button.done{"ng-click"=>"dismissModal()"}
          Done
          %i.fa-arrow-right
      %div{"loading-screen" => "loading.show_spinner"}
