.action-form{"data-remodal-id"=>"upload-logo-modal"}
  %section{"ng-class"=>"{'active': !user.account.hasUploadedLogo}"}
    %header
      %h1
        Upload your logo.
    .group
      #logo-area{"style"=>"height: 200px; 200px;"}
        %img.logo{"ng-src"=>"{{get_logo()}}", "alt"=>"user.account.companyName","ng-show"=>"showLogo()", "style"=>"margin: 20px 0px;"}
      %input.file-select{"ng-file-select" => "onFileSelect($files)", type: "file"}
      %div{"ng-file-drag-over-class" => "optional-css-class", "ng-file-drop" => "onFileSelect($files)", "ng-show" => "dropSupported"} drop files here
    %footer
      %button.continue{"ng-click"=>"submitLogo()"}
        Upload Logo
        %i.fa-arrow-right
    %div{"loading-screen" => "loading.show_spinner"}
  %section{"ng-class"=>"{'active': user.account.hasUploadedLogo}"}
    %header
      %h2
        Success
      %h4
        You successfully uploaded your logo.  Keep up the good work.
    .group
      %img.trophy{:src => asset_path('trophy.jpg'), "ng-alt"=>"Your Gold Cup!"}
    %footer
      %button.done{"ng-click"=>"dismissModal()"}
        Done
        %i.fa-arrow-right
    %div{"loading-screen" => "loading.show_spinner"}
